<h1 id="mip-infinitescroll%20%E6%97%A0%E9%99%90%E6%BB%9A%E5%8A%A8">mip-infinitescroll 无限滚动</h1><p>当用户滚动到页面底部时，异步加载更多数据。适用于信息推荐。</p>
<table>
<thead>
<tr>
<th>标题</th>
<th>内容</th>
</tr>
</thead>
<tbody>
<tr>
<td>类型</td>
<td>通用</td>
</tr>
<tr>
<td>支持布局</td>
<td>responsive, fixed-height, fill, container, fixed</td>
</tr>
<tr>
<td>所需脚本</td>
<td><a href="https://c.mipcdn.com/static/v1/mip-infinitescroll/mip-infinitescroll.js">https://c.mipcdn.com/static/v1/mip-infinitescroll/mip-infinitescroll.js</a><br/> <a href="https://c.mipcdn.com/static/v1/mip-mustache/mip-mustache.js">https://c.mipcdn.com/static/v1/mip-mustache/mip-mustache.js</a></td>
</tr>
</tbody>
</table>
<h2 id="%E7%A4%BA%E4%BE%8B">示例</h2><h3 id="%E6%9C%80%E7%AE%80%E5%8D%95%E7%94%A8%E6%B3%95">最简单用法</h3><p>异步获取 <code>number</code> 等数据，插入页面。</p>
<ul>
<li><code>data-src</code> 填写 HTTPS 异步请求数据接口（仅支持 JSONP 请求）。</li>
<li>接口数据返回示例见文档下方<a href="/examples/mip-extensions/mip-infinitescroll.html#markdown-doc-%E6%AD%A3%E5%B8%B8%E6%95%B0%E6%8D%AE%E7%A4%BA%E4%BE%8B">正常数据示例</a>。</li>
</ul>
<pre><code class="lang-html">&lt;mip-infinitescroll data-src=&quot;xxx&quot;&gt;
    &lt;template type=&quot;mip-mustache&quot;&gt;
        &lt;li&gt;
            &lt;p&gt;序号{{number}} :{{title}}&lt;/p&gt;
            &lt;mip-img src=&quot;{{img}}&quot;
                layout=&quot;responsive&quot; width=&quot;100&quot; height=&quot;100&quot;&gt;
        &lt;/li&gt;
    &lt;/template&gt;
    &lt;div class=&quot;mip-infinitescroll-results&quot;&gt;&lt;/div&gt;
    &lt;div class=&quot;bg&quot;&gt;
        &lt;div class=&quot;mip-infinitescroll-loading&quot;&gt;&lt;/div&gt;
    &lt;/div&gt;
&lt;/mip-infinitescroll&gt;
</code></pre>
<h3 id="%E6%A0%B9%E6%8D%AE%E8%BF%94%E5%9B%9E%E5%80%BC%E5%88%A4%E6%96%AD%E8%AF%B7%E6%B1%82%E7%BB%93%E6%9D%9F">根据返回值判断请求结束</h3><p>如果数据量未知，可以填写 rn=&quot;<a href="https://developer.mozilla.org/zh-CN/docs/Web/JavaScript/Reference/Global_Objects/Infinity">Infinity</a>&quot;， 加载完所有数据后，服务端返回空数据自动停止请求。接口数据返回示例见文档下方<a href="/examples/mip-extensions/mip-infinitescroll.html#markdown-doc-%E7%A9%BA%E6%95%B0%E6%8D%AE%E7%A4%BA%E4%BE%8B">空数据示例</a>。</p>
<p>[warning] 由于 <code>JSON.parse</code> 不能解析 <code>Infinity(number)</code>，配置需要写成字符串形式 <code>Infinity</code>。</p>
<pre><code class="lang-html">&lt;mip-infinitescroll data-src=&quot;xxx&quot;&gt;
    &lt;script type=&quot;application/json&quot;&gt;
        {
            &quot;rn&quot;: &quot;Infinity&quot;
        }
    &lt;/script&gt;
    &lt;template type=&quot;mip-mustache&quot;&gt;
        &lt;li&gt;
            &lt;p&gt;序号{{number}}: {{title}}&lt;/p&gt;
            &lt;mip-img src=&quot;{{img}}&quot;
                layout=&quot;responsive&quot; width=&quot;100&quot; height=&quot;100&quot;&gt;
        &lt;/li&gt;
    &lt;/template&gt;
    &lt;div class=&quot;mip-infinitescroll-results&quot;&gt;&lt;/div&gt;
    &lt;div class=&quot;bg&quot;&gt;
        &lt;div class=&quot;mip-infinitescroll-loading&quot;&gt;&lt;/div&gt;
    &lt;/div&gt;
&lt;/mip-infinitescroll&gt;
</code></pre>
<h3 id="%E8%87%AA%E5%AE%9A%E4%B9%89%E6%9B%B4%E5%A4%9A%E9%85%8D%E7%BD%AE">自定义更多配置</h3><p><code>rn</code>, <code>prn</code>, <code>timeout</code>, <code>loadingHtml</code>, <code>template</code> 等参数可以配置，可选项参考下文“参数配置”。</p>
<pre><code class="lang-html">&lt;mip-infinitescroll data-src=&quot;xxx&quot; template=&quot;myTemplate&quot;&gt;
    &lt;script type=&quot;application/json&quot;&gt;
    {
        &quot;rn&quot;: 40,
        &quot;pn&quot;: 1,
        &quot;prn&quot;: 6,
        &quot;pnName&quot;: &quot;pn&quot;,
        &quot;bufferHeightPx&quot;: 40,
        &quot;timeout&quot;: 3000,
        &quot;loadingHtml&quot;: &quot;更多数据正在路上&quot;,
        &quot;loadFailHtml&quot;: &quot;数据加载失败啦&quot;,
        &quot;loadOverHtml&quot;: &quot;没有数据了哦&quot;
    }
    &lt;/script&gt;
    &lt;template type=&quot;mip-mustache&quot; id=&quot;myTemplate&quot;&gt;
        &lt;li&gt;
            &lt;mip-img src=&quot;{{img}}&quot;
                layout=&quot;responsive&quot; width=&quot;100&quot; height=&quot;100&quot;&gt;
            &lt;/mip-img&gt;
            &lt;p&gt;序号:{{number}}&lt;/p&gt;
        &lt;/li&gt;
    &lt;/template&gt;
    &lt;div class=&quot;mip-infinitescroll-results&quot;&gt;&lt;/div&gt;
    &lt;div class=&quot;bg&quot;&gt;
        &lt;div class=&quot;mip-infinitescroll-loading&quot;&gt;&lt;/div&gt;
    &lt;/div&gt;
&lt;/mip-infinitescroll&gt;
</code></pre>
<h2 id="%E5%B1%9E%E6%80%A7">属性</h2><h3 id="data-src">data-src</h3><p>说明：异步请求数据接口（仅支持 JSONP 请求）<br>必选项：是<br>类型：字符串<br>取值范围：无<br>单位：无<br>默认值：无   </p>
<h3 id="template">template</h3><p>说明：与模板 <code>id</code> 对应，用来标识所采用的模板，如不设置，则默认取组件子节点中的 <code>&lt;template&gt;</code><br>必选项：否<br>类型：字符串<br>取值范围：无<br>单位：无<br>默认值：无</p>
<h2 id="%E5%8F%82%E6%95%B0%E9%85%8D%E7%BD%AE">参数配置</h2><h3 id="rn">rn</h3><p>说明：results number，需要显示的结果总数量<br>类型：整数，&quot;<a href="https://developer.mozilla.org/zh-CN/docs/Web/JavaScript/Reference/Global_Objects/Infinity">Infinity</a>&quot; 字符串<br>必选项：否<br>取值范围：如果填写整数 n，则只会取 n 条数据。如果填写 &quot;Infinity&quot;，则无限加载数据，直到后端没有数据返回<br>单位：无<br>默认值：20</p>
<h3 id="pn">pn</h3><p>说明：page number，请求第几页<br>必选项：否<br>类型：整数<br>单位：无<br>默认值：1  </p>
<h3 id="prn">prn</h3><p>说明：page result number，每次请求所请求的数据条数<br>必选项：否<br>类型：整数<br>取值范围：无<br>单位：无<br>默认值：6  </p>
<h3 id="pnName">pnName</h3><p>说明：翻页关键字<br>必选项：否<br>类型：字符串<br>取值范围：无<br>单位：无<br>默认值：pn    </p>
<h3 id="bufferHeightPx">bufferHeightPx</h3><p>说明：缓冲高度，距离底部一定高度时提前请求数据<br>必选项：否<br>类型：整数<br>取值范围：无<br>单位：无<br>默认值：10   </p>
<h3 id="loadingHtml">loadingHtml</h3><p>说明：loading 时提示文案<br>必选项：否<br>类型：字符串<br>取值范围：无<br>单位：无<br>默认值：加载中...</p>
<h3 id="loadFailHtml">loadFailHtml</h3><p>说明：加载失败时提示文案，当异步请求超时或失败时触发<br>必选项：否<br>类型：字符串<br>取值范围：无<br>单位：无<br>默认值：加载失败</p>
<h3 id="loadOverHtml">loadOverHtml</h3><p>说明：加载完毕时提示文案<br>必选项：否<br>类型：字符串<br>取值范围：无<br>单位：无<br>默认值：加载完毕</p>
<h3 id="timeout">timeout</h3><p>说明：fetch-jsonp 请求的超时时间<br>必选项：否<br>类型：整数<br>取值范围：无<br>单位：ms<br>默认值：5000</p>
<h2 id="%E5%86%85%E9%83%A8DOM%E8%AF%B4%E6%98%8E">内部DOM说明</h2><h3 id="%3Ccode%3Eclass%3D%26quot%3Bmip-infinitescroll-results%26quot%3B%3C%2Fcode%3E"><code>class=&quot;mip-infinitescroll-results&quot;</code></h3><p>结果容器 DOM，初始为空。当数据渲染后，作为子节点插入结果容器。</p>
<h3 id="%3Ccode%3Eclass%3D%26quot%3Bmip-infinitescroll-loading%26quot%3B%3C%2Fcode%3E"><code>class=&quot;mip-infinitescroll-loading&quot;</code></h3><p>“加载中”文字容器 DOM，初始为空。当请求发出后，文字容器显示 <code>loadingHtml</code> 内容，请求返回后文字容器消失。当请求超时或请求失败时，文字容器显示 <code>loadFailHtml</code>。</p>
<h2 id="%E6%B3%A8%E6%84%8F%E4%BA%8B%E9%A1%B9">注意事项</h2><ul>
<li>异步请求接口必须是 HTTPS</li>
<li>异步请求接口需要规范 <code>callback</code> 为 <code>&#39;callback&#39;</code></li>
<li>接口返回的数据格式需要是如下格式：</li>
</ul>
<pre><code>{
    &quot;status&quot;: 0, 
    &quot;data&quot;: { 
        &quot;items&quot;: [{}, {}]
    }
}
</code></pre><ul>
<li>status: 0 表示请求成功。</li>
<li>items: 是需要渲染的数据。</li>
</ul>
<h2 id="%E5%BC%82%E6%AD%A5%E6%8E%A5%E5%8F%A3%E7%A4%BA%E4%BE%8B">异步接口示例</h2><h3 id="%E6%AD%A3%E5%B8%B8%E6%95%B0%E6%8D%AE%E7%A4%BA%E4%BE%8B">正常数据示例</h3><pre><code>{
    &quot;status&quot;: 0,
    &quot;data&quot;:
    {
        &quot;items&quot;: [
        {
            &quot;title&quot;: &quot;风信子&quot;,
            &quot;img&quot;: &quot;https://ss0.baidu.com/6ONWsjip0QIZ8tyhnq/it/u=3495450057,3472067227&amp;fm=5&quot;,
            &quot;number&quot;: 1
        },
        {
            &quot;title&quot;: &quot;紫罗兰&quot;,
            &quot;img&quot;: &quot;https://ss2.baidu.com/6ONYsjip0QIZ8tyhnq/it/u=3903672296,3890938056&amp;fm=5&quot;,
            &quot;number&quot;: 2
        },
        {
            &quot;title&quot;: &quot;梅花&quot;,
            &quot;img&quot;: &quot;https://ss2.baidu.com/6ONYsjip0QIZ8tyhnq/it/u=1564909352,2801480363&amp;fm=5&quot;,
            &quot;number&quot;: 3
        },
        {
            &quot;title&quot;: &quot;茉莉花&quot;,
            &quot;img&quot;: &quot;https://ss1.baidu.com/6ONXsjip0QIZ8tyhnq/it/u=3761083504,3769519560&amp;fm=5&quot;,
            &quot;number&quot;: 4
        },
        {
            &quot;title&quot;: &quot;栀子花&quot;,
            &quot;img&quot;: &quot;https://ss2.baidu.com/6ONYsjip0QIZ8tyhnq/it/u=3554982299,3562031081&amp;fm=5&quot;,
            &quot;number&quot;: 5
        },
        {
            &quot;title&quot;: &quot;桃花&quot;,
            &quot;img&quot;: &quot;https://ss0.baidu.com/6ONWsjip0QIZ8tyhnq/it/u=2475781023,3185445088&amp;fm=5&quot;,
            &quot;number&quot;: 6
        }]
    }
}
</code></pre><h3 id="%E7%A9%BA%E6%95%B0%E6%8D%AE%E7%A4%BA%E4%BE%8B">空数据示例</h3><p>当不在有数据时，返回如下数据，item 为空数组。</p>
<pre><code>{
    &quot;status&quot;: 0, 
    &quot;data&quot;: { 
        &quot;items&quot;: []
    }
}
</code></pre>