<h1 id="mip-semi-fixed%20%E6%BB%91%E5%8A%A8%E6%82%AC%E6%B5%AE%E7%BB%84%E4%BB%B6">mip-semi-fixed 滑动悬浮组件</h1><p><code>position:sticky</code> 的 <code>JS</code> 兼容版本。页面元素滑动到顶部时自动贴顶。  </p>
<table>
<thead>
<tr>
<th>标题</th>
<th>内容</th>
</tr>
</thead>
<tbody>
<tr>
<td>类型</td>
<td>通用</td>
</tr>
<tr>
<td>支持布局</td>
<td>responsive, fixed-height, fill, container, fixed</td>
</tr>
<tr>
<td>所需脚本</td>
<td><a href="https://c.mipcdn.com/static/v1/mip-semi-fixed/mip-semi-fixed.js">https://c.mipcdn.com/static/v1/mip-semi-fixed/mip-semi-fixed.js</a></td>
</tr>
</tbody>
</table>
<h2 id="%E7%A4%BA%E4%BE%8B">示例</h2><h3 id="%E5%9F%BA%E6%9C%AC%E7%94%A8%E6%B3%95">基本用法</h3><pre><code class="lang-html">&lt;mip-semi-fixed id=&quot;semi-fixed&quot; fixedClassNames=&quot;fixedStyle&quot;&gt;
    &lt;div mip-semi-fixed-container class=&quot;absoluteStyle&quot;&gt;
        距离顶部0px时自动贴顶 magic
    &lt;/div&gt;
&lt;/mip-semi-fixed&gt;
&lt;!--以下为占位符，仅用于查看组件效果--&gt;
&lt;div class=&quot;placeholder&quot;&gt;小毛驴滴滴答答，&lt;/div&gt;
&lt;div class=&quot;placeholder&quot;&gt;倚天剑伴我走天涯。 &lt;/div&gt;
&lt;div class=&quot;placeholder&quot;&gt;大家都说我因为爱着杨过大侠，&lt;/div&gt;
&lt;div class=&quot;placeholder&quot;&gt;才在峨眉山上出了家， &lt;/div&gt;
&lt;div class=&quot;placeholder&quot;&gt;其实我只是爱上了峨眉山上的云和霞，&lt;/div&gt;
&lt;div class=&quot;placeholder&quot;&gt;像极了十六岁那年的烟花。&lt;/div&gt;
</code></pre>
<h3 id="%E8%AE%BE%E7%BD%AE%20%3Ccode%3Efixed%3C%2Fcode%3E%20%E6%97%B6%E8%B7%9D%E7%A6%BB%E9%A1%B5%E9%9D%A2%E9%A1%B6%E9%83%A8%E7%9A%84%E9%98%88%E5%80%BC">设置 <code>fixed</code> 时距离页面顶部的阈值</h3><pre><code class="lang-html">&lt;mip-semi-fixed id=&quot;semi-fixed2&quot; threshold=&quot;100&quot; fixedClassNames=&quot;fixedStyle&quot;&gt;
    &lt;div mip-semi-fixed-container class=&quot;absoluteStyle&quot;&gt;
        距离顶部100px时停下
    &lt;/div&gt;
&lt;/mip-semi-fixed&gt;
&lt;!--以下为占位符，仅用于查看组件效果--&gt;
&lt;div class=&quot;placeholder&quot;&gt;小毛驴滴滴答答，&lt;/div&gt;
&lt;div class=&quot;placeholder&quot;&gt;倚天剑伴我走天涯。 &lt;/div&gt;
&lt;div class=&quot;placeholder&quot;&gt;大家都说我因为爱着杨过大侠，&lt;/div&gt;
&lt;div class=&quot;placeholder&quot;&gt;才在峨眉山上出了家， &lt;/div&gt;
&lt;div class=&quot;placeholder&quot;&gt;其实我只是爱上了峨眉山上的云和霞，&lt;/div&gt;
&lt;div class=&quot;placeholder&quot;&gt;像极了十六岁那年的烟花。&lt;/div&gt;
</code></pre>
<h2 id="%E5%B1%9E%E6%80%A7">属性</h2><h3 id="threshold">threshold</h3><p>说明：元素 <code>fixed</code> 状态时距离页面顶部的距离<br>必选项：否<br>类型：整数<br>取值范围：无<br>单位：无<br>默认值：0</p>
<h3 id="fixedClassNames">fixedClassNames</h3><p>说明：元素 <code>fixed</code> 状态时需要添加的类<br>必选项：否<br>类型：字符串<br>取值范围：无<br>单位：无<br>默认值：&#39;&#39;  </p>
<h2 id="%E5%AD%90%E8%8A%82%E7%82%B9">子节点</h2><h3 id="div%5Bmip-semi-fixed-container%5D">div[mip-semi-fixed-container]</h3><p>说明：所有 HTML 需要放在这个节点中<br>必选项：是<br>类型：DOM 节点<br>取值范围：无<br>单位：无<br>默认值：div[mip-semi-fixed-container]  </p>
