<h1 id="mip-gototop%20%E5%BF%AB%E9%80%9F%E5%9B%9E%E9%A1%B6">mip-gototop 快速回顶</h1><p>添加快速回顶按钮，点击回到页面顶部。</p>
<table>
<thead>
<tr>
<th>标题</th>
<th>内容</th>
</tr>
</thead>
<tbody>
<tr>
<td>类型</td>
<td>通用</td>
</tr>
<tr>
<td>支持布局</td>
<td>N/S</td>
</tr>
<tr>
<td>所需脚本</td>
<td><a href="https://c.mipcdn.com/static/v1/mip-gototop/mip-gototop.js">https://c.mipcdn.com/static/v1/mip-gototop/mip-gototop.js</a></td>
</tr>
</tbody>
</table>
<h2 id="%E7%A4%BA%E4%BE%8B">示例</h2><h3 id="%E5%9F%BA%E6%9C%AC%E4%BD%BF%E7%94%A8">基本使用</h3><pre><code class="lang-html">&lt;mip-fixed type=&quot;gototop&quot;&gt;
    &lt;mip-gototop&gt;&lt;/mip-gototop&gt;
&lt;/mip-fixed&gt;
</code></pre>
<h3 id="%E8%AE%BE%E7%BD%AE%E9%98%88%E5%80%BC">设置阈值</h3><pre><code class="lang-html">&lt;mip-fixed type=&quot;gototop&quot;&gt;
    &lt;mip-gototop threshold=&#39;300&#39;&gt;&lt;/mip-gototop&gt;
&lt;/mip-fixed&gt;
</code></pre>
<h2 id="%E5%B1%9E%E6%80%A7">属性</h2><p>说明：显示按钮时页面已经滚动的高度<br>必选项: 否<br>取值范围：数值<br>单位：无<br>默认值：200</p>
