<h1 id="mip-form%20%E8%A1%A8%E5%8D%95">mip-form 表单</h1><p>表单提交。</p>
<table>
<thead>
<tr>
<th>标题</th>
<th>内容</th>
</tr>
</thead>
<tbody>
<tr>
<td>类型</td>
<td>通用</td>
</tr>
<tr>
<td>支持布局</td>
<td>responsive, fixed-height, fill, container, fixed</td>
</tr>
<tr>
<td>所需脚本</td>
<td><a href="https://c.mipcdn.com/static/v1/mip-form/mip-form.js">https://c.mipcdn.com/static/v1/mip-form/mip-form.js</a></td>
</tr>
</tbody>
</table>
<h2 id="%E7%A4%BA%E4%BE%8B">示例</h2><h3 id="%E5%9F%BA%E6%9C%AC%E4%BD%BF%E7%94%A8">基本使用</h3><pre><code class="lang-html">&lt;mip-form method=&quot;get&quot; url=&quot;https://www.mipengine.org?we=123&quot;&gt;
    &lt;input type=&quot;text&quot; name=&quot;username&quot; validatetarget=&quot;username&quot; validatetype=&quot;must&quot; placeholder=&quot;姓名&quot;&gt;
    &lt;div target=&quot;username&quot;&gt;姓名不能为空&lt;/div&gt;
    &lt;input type=&quot;number&quot; name=&quot;age&quot; validatetarget=&quot;age&quot; validatetype=&quot;must&quot; placeholder=&quot;年龄&quot;&gt;
    &lt;div target=&quot;age&quot;&gt;年龄不能为空&lt;/div&gt;
    &lt;input type=&quot;submit&quot; value=&quot;提交&quot;&gt;
&lt;/mip-form&gt;
</code></pre>
<h3 id="%E5%8A%A0%E6%B8%85%E7%A9%BA%E6%8C%89%E9%92%AE">加清空按钮</h3><pre><code class="lang-html">&lt;mip-form method=&quot;get&quot; url=&quot;https://www.mipengine.org&quot; clear&gt;
    &lt;input type=&quot;text&quot; name=&quot;username2&quot; validatetarget=&quot;username2&quot; validatetype=&quot;must&quot; placeholder=&quot;姓名&quot;&gt;
    &lt;div target=&quot;username2&quot;&gt;姓名不能为空&lt;/div&gt;
    &lt;input type=&quot;number&quot; name=&quot;age2&quot; validatetarget=&quot;age2&quot; validatetype=&quot;must&quot; placeholder=&quot;年龄&quot;&gt;
    &lt;div target=&quot;age2&quot;&gt;年龄不能为空&lt;/div&gt;
    &lt;input type=&quot;submit&quot; value=&quot;提交&quot;&gt;
&lt;/mip-form&gt;
</code></pre>
<h3 id="%E8%87%AA%E5%AE%9A%E4%B9%89%E9%AA%8C%E8%AF%81%E8%A7%84%E5%88%99">自定义验证规则</h3><pre><code class="lang-html">&lt;mip-form method=&quot;get&quot; url=&quot;https://www.mipengine.org&quot;&gt;
     &lt;input type=&quot;text&quot; name=&quot;customnumber&quot; validatetarget=&quot;custom&quot; validatetype=&quot;custom&quot; validatereg=&quot;^[0-9]*$&quot; placeholder=&quot;我是自定义验证规则数字&quot;&gt;
     &lt;div class=&quot;mip-form-target&quot; target=&quot;custom&quot;&gt;请输入正确的数字&lt;/div&gt;
     &lt;input type=&quot;submit&quot; value=&quot;提交&quot;&gt;
 &lt;/mip-form&gt;
</code></pre>
<h3 id="%E9%A1%B5%E9%9D%A2%E6%95%B0%E6%8D%AE%E5%88%B7%E6%96%B0">页面数据刷新</h3><pre><code class="lang-html">&lt;mip-form fetch-url=&quot;http://yourdomain.com/path&quot;&gt;
    &lt;input type=&quot;text&quot; name=&quot;name&quot; placeholder=&quot;姓名&quot;&gt;
    &lt;div submit-success&gt;
        &lt;template type=&quot;mip-mustache&quot;&gt;
            Success! Thanks for {{name}} trying the mip demo.
        &lt;/template&gt;
    &lt;/div&gt;
    &lt;div submit-error&gt;
        &lt;template type=&quot;mip-mustache&quot;&gt;
            Error!.
        &lt;/template&gt;
    &lt;/div&gt;
    &lt;input type=&quot;submit&quot; value=&quot;提交&quot;&gt;
 &lt;/mip-form&gt;
</code></pre>
<h2 id="%E5%B1%9E%E6%80%A7">属性</h2><h3 id="method">method</h3><p>说明：表单提交方法<br>必选项：是  </p>
<h3 id="url">url</h3><p>说明：表单提交 URL，建议填写 HTTPS 地址<br>必选项: 是  </p>
<h3 id="validatetarget">validatetarget</h3><p>说明:  验证提示对应 tag，用于对应错误时的提示显示元素的查找<br>必选项：否   </p>
<h3 id="validatetype">validatetype</h3><p>说明：验证类型, 用于支持简单的验证。目前提供 <code>email</code>, <code>phone</code>, <code>idcar</code>, <code>custom</code>。当为 <code>custom</code> 时则需要填写 <code>validatereg</code><br>必选项：否   </p>
<h3 id="validatereg">validatereg</h3><p>说明: 自定义验证，补充站长个性化的验证规则。如果 <code>validatetype</code> 为 <code>custom</code> 时需填写相应验证规则<br>必选项：否</p>
<h3 id="clear">clear</h3><p>说明: 表单中 <code>&lt;input&gt;</code> 清空按钮开关</p>
<h3 id="fetch-url">fetch-url</h3><p>说明: 有此属性则可以开启异步请求数据逻辑，组件会并根据数据返回状态来按<code>submit-success</code>，<code>submit-error</code>块中的模板刷新局部信息。
需要注意的几个点：</p>
<ul>
<li>方法支持。</li>
<li>请求结果请返回 JSON 对象。</li>
<li>数据状态只有在成功（2xx）的时候触发 <code>submit-success</code> 的逻辑，其他的均触发 <code>submit-error</code> 逻辑。</li>
</ul>
<p>必选项：否  </p>
<h2 id="%E6%B3%A8%E6%84%8F%E4%BA%8B%E9%A1%B9">注意事项</h2><ol>
<li>表单提交方法如果为 <code>post</code>，应使用 HTTPS 地址。避免 MIP-Cache HTTPS 环境提交到 HTTP，导致浏览器报错。</li>
<li>使用 fetch 功能时，请求使用 cors 时不能配置为 *。</li>
</ol>
