<h1 id="mip-stats-baidu%20%E7%99%BE%E5%BA%A6%E7%BB%9F%E8%AE%A1">mip-stats-baidu 百度统计</h1><p>添加百度统计组件，用于统计页面数据。</p>
<table>
<thead>
<tr>
<th>标题</th>
<th>内容</th>
</tr>
</thead>
<tbody>
<tr>
<td>类型</td>
<td>通用</td>
</tr>
<tr>
<td>支持布局</td>
<td>N/S</td>
</tr>
<tr>
<td>所需脚本</td>
<td><a href="https://c.mipcdn.com/static/v1/mip-stats-baidu/mip-stats-baidu.js">https://c.mipcdn.com/static/v1/mip-stats-baidu/mip-stats-baidu.js</a></td>
</tr>
</tbody>
</table>
<h2 id="%E8%AF%B4%E6%98%8E">说明</h2><p>MIP 百度统计组件基于<a href="http://tongji.baidu.com/open/api/more">百度统计 API</a>，请参照 API 将参数配置在 MIP 页。目前事件追踪支持 <code>click</code>, <code>mouseup</code>, <code>load</code>，其它事件暂不支持。</p>
<h2 id="%E7%A4%BA%E4%BE%8B">示例</h2><p>MIP 提供百度统计的插件，便于分析页面数据，需要提前到百度统计这边创建站点，在百度统计后台会自动生成 JS 代码。从中找出 <code>token</code> 后插入到 MIP 组件的 <code>token</code> 位置。方法为：</p>
<pre><code class="lang-javascript">// 例：百度统计代码截取
hm.src = &quot;https://hm.baidu.com/hm.js?02890d4a309827eb62bc3335b2b28f7f&quot;;
// hm.js? 后为你的统计 token。此例 token=&quot;02890d4a309827eb62bc3335b2b28f7f&quot;
</code></pre>
<h3 id="MIP%20%E6%8F%92%E4%BB%B6%E5%BC%95%E5%85%A5">MIP 插件引入</h3><pre><code>&lt;mip-stats-baidu&gt;
    &lt;script type=&quot;application/json&quot;&gt;
        {
            &quot;token&quot;: &quot;02890d4a309827eb62bc3335b2b28f7f&quot;,
            &quot;_setCustomVar&quot;: [1, &quot;login&quot;, &quot;1&quot;, 2],
            &quot;_setAutoPageview&quot;: [true]
        }
    &lt;/script&gt;
&lt;/mip-stats-baidu&gt;

</code></pre><h3 id="%E4%BA%8B%E4%BB%B6%E8%BF%BD%E8%B8%AA">事件追踪</h3><p>事件追踪是百度统计提供的定制化方法，能够统计按钮点击次数。详见<a href="http://tongji.baidu.com/open/api/">百度统计 API</a>。</p>
<p>[warning] <code>data-stats-baidu-obj</code> 要求配置外层为单引号，内层为双引号。或按照下文 <strong><code>data-stats-baidu-obj</code> 双引号配置方法</strong> 处理。</p>
<pre><code>&lt;div data-stats-baidu-obj=&#39;{&quot;type&quot;:&quot;click&quot;,&quot;data&quot;:[&quot;_trackPageview&quot;, &quot;/virtual/login&quot;]}&#39;&gt;
    点击发送请求
&lt;/div&gt;

</code></pre><h2 id="%E5%B1%9E%E6%80%A7">属性</h2><h3 id="token">token</h3><p>说明：<code>token</code>，从百度统计代码中截取<br>必填：是<br>格式：字符串  </p>
<h3 id="_setCustomVar">_setCustomVar</h3><p>说明：指定一个自定义变量，用于追踪用户使用行为等。参考(<a href="http://tongji.baidu.com/open/api/more?p=ref_setCustomVar">百度统计 API:_setCustomVar</a>)<br>必填：否<br>格式：数组  </p>
<h3 id="_setAutoPageview">_setAutoPageview</h3><p>说明：用户访问一个安装了百度统计代码的页面时，代码会自动发送该页面的 PV 统计请求，如果不希望自动统计该页面的 PV，就可以使用本接口。主要用于 <code>iframe</code> 嵌套页面等情况。参考(<a href="http://tongji.baidu.com/open/api/more?p=ref_setAutoPageview">百度统计 API:_setAutoPageview</a>)<br>必填：否<br>格式：数组  </p>
<h3 id="_trackPageview">_trackPageview</h3><p>说明：用于发送某个指定 URL 的 PV 统计请求，通常用于 AJAX 页面的 PV 统计。参考(<a href="http://tongji.baidu.com/open/api/more?p=ref_trackPageview">百度统计 API:_trackPageview</a>)<br>必填：否<br>格式：数组</p>
<h3 id="%E4%BA%8B%E4%BB%B6%E8%BF%BD%E8%B8%AA">事件追踪</h3><p>属性: <code>data-stats-baidu-obj</code></p>
<h4 id="type">type</h4><p>说明：对应的触发事件(load 加载触发/click 点击触发/mouseup 触发)<br>必填：是<br>格式：字符串数组  </p>
<h4 id="data">data</h4><p>说明：用于事件追踪数据传递，参考(<a href="http://tongji.baidu.com/open/api/">百度统计 API</a>)<br>必填：是<br>格式：字符串</p>
<p>备注：<code>_setAccount</code> 无需设置，<code>token</code> 合法会自动执行 <code>_hmt.push([&#39;_setAccount&#39;,token])</code></p>
<h2 id="%E5%85%B6%E5%AE%83%E4%BD%BF%E7%94%A8%E6%96%B9%E5%BC%8F">其它使用方式</h2><blockquote>
<p>可以正常运行，但不推荐</p>
</blockquote>
<p><code>token</code> 获取：</p>
<pre><code class="lang-javascript">// 例：百度统计代码截取
hm.src = &quot;https://hm.baidu.com/hm.js?02890d4a309827eb62bc3335b2b28f7f&quot;;
// hm.js? 后为你的统计 token。此例 token=&quot;02890d4a309827eb62bc3335b2b28f7f&quot;
</code></pre>
<h3 id="MIP%20%E6%8F%92%E4%BB%B6%E5%BC%95%E5%85%A5">MIP 插件引入</h3><pre><code>&lt;mip-stats-baidu token=&quot;02890d4a309827eb62bc3335b2b28f7f&quot;&gt;&lt;/mip-stats-baidu&gt;

</code></pre><h3 id="%E4%BA%8B%E4%BB%B6%E8%BF%BD%E8%B8%AA%3A">事件追踪:</h3><p>[warning] <code>data-stats-baidu-obj</code> 要求配置外层为单引号，内层为双引号。或按照下文 <strong><code>data-stats-baidu-obj</code> 双引号配置方法</strong> 处理。</p>
<pre><code>&lt;div data-stats-baidu-obj=&#39;{&quot;type&quot;:&quot;click&quot;,&quot;data&quot;:[&quot;_trackPageview&quot;, &quot;/virtual/login&quot;]}&#39;&gt;
    点击发送请求
&lt;/div&gt;
</code></pre><h2 id="%E5%B1%9E%E6%80%A7">属性</h2><h3 id="token">token</h3><p>说明：<code>token</code>，从百度统计代码中截取<br>必填：是<br>格式：字符串</p>
<h3 id="setconfig">setconfig</h3><p>说明：用于对整个页面统计的操作.如(<code>_setAutoPageview</code>, <code>_setCustomVar</code>)<br>必填：否<br>格式：字符串</p>
<h3 id="%E5%A4%87%E6%B3%A8">备注</h3><p><code>setconfig</code> 值必须 <code>encodeURIComponent</code> 处理，如 <code>[_setAutoPageview, true]</code> 需转化为 <code>%5B_setAutoPageview%2C%20false%5D</code> 字符串传递。</p>
<h3 id="%E4%BA%8B%E4%BB%B6%E8%BF%BD%E8%B8%AA">事件追踪</h3><p>属性: <code>data-stats-baidu-obj</code></p>
<h4 id="type">type</h4><p>说明：对应的触发事件(load 加载触发/click 点击触发)<br>必填：是<br>格式：字符串数组</p>
<h4 id="data">data</h4><p>说明：用于事件追踪数据传递参考(<a href="http://tongji.baidu.com/open/api/">百度统计 API</a>)<br>必填：是<br>格式：字符串</p>
<h4 id="data-stats-baidu-obj%20%E5%8F%8C%E5%BC%95%E5%8F%B7%E9%85%8D%E7%BD%AE%E6%96%B9%E6%B3%95">data-stats-baidu-obj 双引号配置方法</h4><p><code>data-stats-baidu-obj</code> 值必须 <code>encodeURIComponent</code> 处理, 方法如下：</p>
<pre><code>// 理想配置
{&quot;type&quot;:&quot;click&quot;,&quot;data&quot;:[&quot;_trackPageview&quot;, &quot;/virtual/login&quot;]};

// 处理配置方法
encodeURIComponent(JSON.stringify({type: &quot;click&quot;, data: [&quot;_trackPageview&quot;, &quot;/virtual/login&quot;]}))

// 最终DOM配置效果
data-stats-baidu-obj=&quot;%7B%22type%22%3A%22click%22%2C%22data%22%3A%5B%22_trackPageview%22%2C%22%2Fvirtual%2Flogin%22%5D%7D&quot;
</code></pre>