<h1 id="mip-anim%20%E5%8A%A8%E5%9B%BE">mip-anim 动图</h1><p>用来支持在 MIP 页中 GIF 图的使用。</p>
<table>
<thead>
<tr>
<th>标题</th>
<th>内容</th>
</tr>
</thead>
<tbody>
<tr>
<td>类型</td>
<td>通用</td>
</tr>
<tr>
<td>支持布局</td>
<td>responsive, fixed-height, fixed, container</td>
</tr>
<tr>
<td>所需脚本</td>
<td><a href="https://c.mipcdn.com/static/v1/mip-anim/mip-anim.js">https://c.mipcdn.com/static/v1/mip-anim/mip-anim.js</a></td>
</tr>
</tbody>
</table>
<h2 id="%E7%A4%BA%E4%BE%8B">示例</h2><h3 id="%E5%B8%A6%20%3Ccode%3Eplaceholder%3C%2Fcode%3E%20%E7%9A%84%E5%8A%A0%E8%BD%BD%E6%96%B9%E5%BC%8F">带 <code>placeholder</code> 的加载方式</h3><pre><code class="lang-html">&lt;mip-anim layout=&quot;fixed&quot; width=210 height=210 src=&quot;https://www.mipengine.org/static/img/sample_gif.gif&quot; alt=&quot;an animation&quot;&gt;
   &lt;mip-img class=&quot;background&quot; layout=&quot;fixed-height&quot; width=210 height=210 src=&quot;https://www.mipengine.org/static/img/sample_mip_logo.png&quot;&gt;&lt;/mip-img&gt;
&lt;/mip-anim&gt;
</code></pre>
<h3 id="%E5%8F%AA%E6%9C%89%20GIF%20%E5%9B%BE">只有 GIF 图</h3><pre><code class="lang-html">&lt;mip-anim layout=&quot;fixed&quot; width=210 height=210 src=&quot;https://www.mipengine.org/static/img/sample_gif.gif&quot; alt=&quot;an animation&quot;&gt;&lt;/mip-anim&gt;
</code></pre>
<h2 id="%E5%B1%9E%E6%80%A7">属性</h2><h3 id="src">src</h3><p>说明：图片路径<br>必选项：是<br>类型：字符串<br>取值范围：URL</p>
