<h1 id="mip-analytics%20%E7%BB%9F%E8%AE%A1%E6%A1%86%E6%9E%B6">mip-analytics 统计框架</h1><p>提供统计发送接口，由使用方决定在什么时候发送什么参数，到什么地方。</p>
<table>
<thead>
<tr>
<th>标题</th>
<th>内容</th>
</tr>
</thead>
<tbody>
<tr>
<td>类型</td>
<td>通用</td>
</tr>
<tr>
<td>支持事件</td>
<td>click, touchend, [disp,scroll], timer</td>
</tr>
<tr>
<td>所需脚本</td>
<td><a href="https://c.mipcdn.com/static/v1/mip-analytics/mip-analytics.js">https://c.mipcdn.com/static/v1/mip-analytics/mip-analytics.js</a></td>
</tr>
</tbody>
</table>
<h2 id="%E7%A4%BA%E4%BE%8B">示例</h2><h3 id="%E5%9F%BA%E6%9C%AC%E7%94%A8%E6%B3%95">基本用法</h3><p>每种事件可以配置多个</p>
<pre><code class="lang-html">&lt;div class=&quot;className1&quot; data-click=&quot;{foo:1,boo:2}&quot;&gt;
    &lt;button data-click=&quot;{button:1}&quot;&gt; BUTTON 1&lt;/button&gt;
    &lt;button &gt; BUTTON 2&lt;/button&gt;
&lt;/div&gt;
&lt;div class=&quot;className2&quot;&gt;&lt;/div&gt;


&lt;mip-analytics&gt;
&lt;script type=&quot;application/json&quot;&gt;
{
    &quot;hosts&quot; : {
        &quot;className1&quot; : &quot;https://m.baidu.com/div1?&quot;,
        &quot;disp&quot; : &quot;https://m.baidu.com/${disp}?&quot;,
        &quot;className2&quot; : &quot;https://m.baidu.com/_${div2}.gif?&quot;
    },

    &quot;setting&quot; : {

        &quot;click&quot; : [
            {
                &quot;selector&quot; : &quot;.className1&quot;,
                &quot;tag&quot;: &quot;button&quot;,
                &quot;host&quot; : &quot;className1&quot;,
                &quot;queryString&quot; : {
                    &quot;name&quot; : &quot;alan&quot;,
                    &quot;mipstart&quot; : &quot;${MIPStart}&quot;,
                    &quot;list&quot;: {
                        &quot;age&quot;:&quot;123&quot;
                    }
                }
            },

            {
                &quot;selector&quot; : &quot;.className2&quot;,
                &quot;host&quot; : &quot;className2&quot;,
                &quot;queryString&quot; : {
                    &quot;name&quot; : &quot;alan&quot;,
                    &quot;mipstart&quot; : &quot;${MIPStart}&quot;,
                    &quot;list&quot;: {
                        &quot;age&quot;:&quot;45&quot;
                    }
                }
            },

            {
                &quot;selector&quot; : &quot;.className3&quot;,
                &quot;host&quot; : &quot;className3&quot;,
                &quot;queryString&quot; : {},
                &quot;vars&quot; : {
                    &quot;div2&quot; : &quot;divfdsf&quot;
                }
            }
        ],

        &quot;disp&quot; : [
            {
                &quot;host&quot; : &quot;disp&quot;,
                &quot;queryString&quot; : {
                    &quot;MIPStart&quot; : &quot;${MIPStart}&quot;,
                    &quot;MIPPageShow&quot; : &quot;${MIPPageShow}&quot;,
                    &quot;MIPDomContentLoaded&quot; : &quot;${MIPDomContentLoaded}&quot;,
                    &quot;MIPFirstScreen&quot; : &quot;${MIPFirstScreen}&quot;
                },
                &quot;vars&quot; : {
                    &quot;disp&quot; : &quot;displog&quot;
                }
            }
        ],
        &quot;timerxx&quot; : [
            {
                &quot;host&quot; : &quot;className2&quot;,
                &quot;queryString&quot; : {
                    &quot;timer&quot; : &quot;timer&quot;
                },
                &quot;vars&quot; : {
                    &quot;div2&quot; : &quot;div2&quot;
                },
                &quot;option&quot; : {
                    &quot;interval&quot; : 2000
                }
            }
        ],
        &quot;scroll&quot; : []
    }
}
&lt;/script&gt;
&lt;/mip-analytics&gt;

</code></pre>
<h2 id="%E9%85%8D%E7%BD%AE%E5%8F%82%E6%95%B0">配置参数</h2><h3 id="hosts">hosts</h3><p>说明：指定用到的 log server 地址，用以后面配置复用</p>
<p>必选项：是</p>
<p>类型：键值对</p>
<p>取值范围：HTTPS</p>
<h3 id="setting">setting</h3><p>说明：配置日志发送</p>
<p>必选项：是</p>
<p>类型：键值对</p>
<h4 id="setting.click">setting.click</h4><p>说明：配置点击事件  </p>
<p>必选项：否  </p>
<p>类型：Array   </p>
<h5 id="setting.click.selector">setting.click.selector</h5><p>说明：指定触发点击的选择器     </p>
<p>必选项：是  </p>
<p>类型：CSS 选择器</p>
<h5 id="setting.click.tag">setting.click.tag</h5><p>说明：指定触发点击的选择器，有此属性时，setting.click.selector 为选择器父节点，点击事件绑定在父节点上</p>
<p>必选项：是</p>
<p>类型：CSS 选择器</p>
<h5 id="setting.click.host">setting.click.host</h5><p>说明：指定日志发送的 log server，可以使用插值变量占位，<code>${varName}</code>，在 vars 中指定真实值。 插件使用图片伪装请求。host 应该是一个图片地址，一般是 GIF。如 <a href="https://logserver.com/mylog.gif">https://logserver.com/mylog.gif</a>?</p>
<p>必选项：是</p>
<p>类型：hosts 参数中的 key</p>
<h5 id="setting.click.queryString">setting.click.queryString</h5><p>说明：指定 host 的 querystring，一级属性序列化为 &amp; 链接的参数，二级对象属性会被序列化为 JSON 字符串。可以支持一些内建变量，目前支持速度信息，以下内建变量会返回时间戳。</p>
<ul>
<li><code>&quot;${MIPStart}&quot;</code></li>
<li><code>&quot;${MIPPageShow}&quot;</code></li>
<li><code>&quot;${MIPDomContentLoaded}&quot;</code></li>
<li><code>&quot;${MIPFirstScreen}&quot;</code></li>
</ul>
<p>必选项：否</p>
<p>类型：键值对</p>
<h5 id="setting.click.vars">setting.click.vars</h5><p>说明：指定 host 的插值变量的真实值，替换格式为 <code>${varName}</code>，如果是内建变量可以不用指定值，会自行替换。</p>
<p>必选项：否</p>
<p>类型：键值对</p>
<h4 id="setting.touchstart">setting.touchstart</h4><p>说明：完全同 click</p>
<h4 id="setting.timer">setting.timer</h4><p>说明：定时发送日志设置</p>
<p>必选项：否</p>
<p>类型：Array</p>
<h4 id="setting.timer.host">setting.timer.host</h4><p>说明：同click.host</p>
<h4 id="setting.timer.data">setting.timer.data</h4><p>说明：同click.data</p>
<h4 id="setting.timer.option.interval">setting.timer.option.interval</h4><p>说明：指定定时器间隔</p>
<p>必选项：否</p>
<p>类型：数字</p>
<p>单位：ms</p>
<p>默认值：4000ms</p>
<h2 id="%E6%B3%A8%E6%84%8F%E4%BA%8B%E9%A1%B9">注意事项</h2><ul>
<li><p>注意是标准 JSON，属性名，属性值都要用双引号。</p>
</li>
<li><p>统计框架会默认传入一级参数 <code>t</code>，为发送日志的时间。</p>
</li>
<li><p>host 地址需要是 HTTPS 的。</p>
</li>
<li><p>vars 和 queryString 是为了方便使用方重复利用变量并且保证灵活性，最好是 vars 用于 host 部分，queryString 用于参数部分，或者只选择其一。重叠使用时需要注意图们之间是否有交叉。框架会先替换 vars 再拼接 queryStirng。</p>
</li>
<li><p>vars 只支持简单数据类型，复合数据类型会返回空字符串。</p>
</li>
<li><p>queryString 内建变量只支持一级参数替换，2 级对象中有内建变量，会被直接序列化为字符串，不会替换。</p>
</li>
</ul>
