<h1 id="mip-showmore%20%E6%98%BE%E7%A4%BA%E6%9B%B4%E5%A4%9A">mip-showmore 显示更多</h1><p>隐藏过长的文章，点击按钮显示更多内容。</p>
<table>
<thead>
<tr>
<th>标题</th>
<th>内容</th>
</tr>
</thead>
<tbody>
<tr>
<td>类型</td>
<td>通用</td>
</tr>
<tr>
<td>支持布局</td>
<td>responsive, fixed-height, fill, container, fixed</td>
</tr>
<tr>
<td>所需脚本</td>
<td><a href="https://c.mipcdn.com/static/v1/mip-showmore/mip-showmore.js">https://c.mipcdn.com/static/v1/mip-showmore/mip-showmore.js</a></td>
</tr>
</tbody>
</table>
<h2 id="%E7%A4%BA%E4%BE%8B">示例</h2><h3 id="%E8%AE%BE%E5%AE%9A%E5%83%8F%E7%B4%A0%E5%8D%95%E4%BD%8D%E7%9A%84%E9%AB%98%E5%BA%A6%E9%98%88%E5%80%BC">设定像素单位的高度阈值</h3><ul>
<li>在按钮中增加 <code>on</code> 属性，注意 <code>on</code> 属性中需要填写对应 <code>&lt;mip-showmore&gt;</code> 的 <code>id</code>。</li>
<li>比如本例中，<code>on</code> 属性需要写成 <code>on=&quot;tap:showmore01.toggle&quot;</code>。</li>
</ul>
<pre><code class="lang-html">&lt;mip-showmore maxheight=&#39;40&#39; animatetime=&#39;.3&#39; id=&quot;showmore01&quot;&gt;
    &lt;div&gt;MIP （Mobile Instant Pages - 移动网页加速器）, 是一套应用于移动网页的开放性技术标准。通过提供MIP-HTML规范、MIP-JS运行环境以及MIP-Cache页面缓存系统，实现移动网页加速。&lt;/div&gt;
&lt;/mip-showmore&gt;
&lt;div on=&quot;tap:showmore01.toggle&quot; data-closetext=&quot;收起&quot; class=&quot;mip-showmore-btn&quot;&gt;点击显示&lt;/div&gt;
</code></pre>
<h3 id="%E8%AE%BE%E5%AE%9A%E5%9F%BA%E4%BA%8E%E5%8F%AF%E8%A7%86%E5%8C%BA%E5%9F%9F%E7%9A%84%E9%AB%98%E5%BA%A6%E9%98%88%E5%80%BC">设定基于可视区域的高度阈值</h3><ul>
<li><code>maxheight=&#39;screen:0.5&#39;</code> 可设置基于屏幕可视区域的高度阈值。</li>
<li>在按钮中增加 <code>on</code> 属性，注意 <code>on</code> 属性中需要填写对应 <code>&lt;mip-showmore&gt;</code> 的 <code>id</code>。比如本例中，<code>&lt;mip-showmore id=&quot;showmore02&quot;&gt;</code>，<code>on</code> 属性需要写成 <code>on=&quot;tap:showmore01.toggle&quot;</code>。</li>
</ul>
<pre><code class="lang-html">&lt;mip-showmore maxheight=&#39;screen:0.5&#39; animatetime=&#39;.3&#39; id=&quot;showmore02&quot;&gt;
    &lt;div&gt;MIP （Mobile Instant Pages - 移动网页加速器）, 是一套应用于移动网页的开放性技术标准。通过提供MIP-HTML规范、MIP-JS运行环境以及MIP-Cache页面缓存系统，实现移动网页加速。&lt;/div&gt;
    &lt;div&gt;MIP （Mobile Instant Pages - 移动网页加速器）, 是一套应用于移动网页的开放性技术标准。通过提供MIP-HTML规范、MIP-JS运行环境以及MIP-Cache页面缓存系统，实现移动网页加速。&lt;/div&gt;
    &lt;div&gt;MIP （Mobile Instant Pages - 移动网页加速器）, 是一套应用于移动网页的开放性技术标准。通过提供MIP-HTML规范、MIP-JS运行环境以及MIP-Cache页面缓存系统，实现移动网页加速。&lt;/div&gt;
    &lt;div&gt;MIP （Mobile Instant Pages - 移动网页加速器）, 是一套应用于移动网页的开放性技术标准。通过提供MIP-HTML规范、MIP-JS运行环境以及MIP-Cache页面缓存系统，实现移动网页加速。&lt;/div&gt;
    &lt;div&gt;MIP （Mobile Instant Pages - 移动网页加速器）, 是一套应用于移动网页的开放性技术标准。通过提供MIP-HTML规范、MIP-JS运行环境以及MIP-Cache页面缓存系统，实现移动网页加速。&lt;/div&gt;
    &lt;div&gt;MIP （Mobile Instant Pages - 移动网页加速器）, 是一套应用于移动网页的开放性技术标准。通过提供MIP-HTML规范、MIP-JS运行环境以及MIP-Cache页面缓存系统，实现移动网页加速。&lt;/div&gt;
    &lt;div&gt;MIP （Mobile Instant Pages - 移动网页加速器）, 是一套应用于移动网页的开放性技术标准。通过提供MIP-HTML规范、MIP-JS运行环境以及MIP-Cache页面缓存系统，实现移动网页加速。&lt;/div&gt;
&lt;/mip-showmore&gt;
&lt;div on=&quot;tap:showmore02.toggle&quot; data-closetext=&quot;收起&quot; class=&quot;mip-showmore-btn&quot;&gt;点击显示&lt;/div&gt;
</code></pre>
<h3 id="%E5%B5%8C%E5%A5%97%E4%BD%BF%E7%94%A8-%E9%AB%98%E5%BA%A6%E9%98%88%E5%80%BC">嵌套使用-高度阈值</h3><p>[info]嵌套使用时，注意 <code>on</code> 和 <code>&lt;mip-showmore&gt;</code> <code>id</code> 的对应。</p>
<pre><code class="lang-html">&lt;mip-showmore maxheight=&#39;40&#39; animatetime=&#39;.3&#39; id=&quot;showmore03&quot;&gt;
    【外层元素】MIP是一套应用于移动网页的开放性技术标准。通过提供MIP-HTML规范、MIP-JS运行环境以及MIP-Cache页面缓存系统，实现移动网页加速。MIP是一套应用于移动网页的开放性技术标准。通过提供MIP-HTML规范、MIP-JS运行环境以及MIP-Cache页面缓存系统，实现移动网页加速。
    &lt;mip-showmore maxheight=&#39;40&#39; animatetime=&#39;.3&#39; id=&quot;showmore04&quot;&gt;
        【内层元素】MIP是一套应用于移动网页的开放性技术标准。通过提供MIP-HTML规范、MIP-JS运行环境以及MIP-Cache页面缓存系统，实现移动网页加速。MIP是一套应用于移动网页的开放性技术标准。通过提供MIP-HTML规范、MIP-JS运行环境以及MIP-Cache页面缓存系统，实现移动网页加速。
    &lt;/mip-showmore&gt;
    &lt;div on=&quot;tap:showmore04.toggle&quot; data-closetext=&quot;收起内层内容&quot; class=&quot;mip-showmore-btn&quot;&gt;点击显示内层&lt;/div&gt;
&lt;/mip-showmore&gt;
&lt;div on=&quot;tap:showmore03.toggle&quot; data-closetext=&quot;收起外层内容&quot; class=&quot;mip-showmore-btn&quot;&gt;点击显示外层&lt;/div&gt;
</code></pre>
<h3 id="%E8%AE%BE%E5%AE%9A%E5%AD%97%E6%95%B0%E9%98%88%E5%80%BC">设定字数阈值</h3><pre><code class="lang-html">&lt;mip-showmore maxlen=&#39;20&#39; id=&quot;showmore05&quot;&gt;
        MIP HTML 基于HTML中的基础标签制定了全新的规范，通过对一部分基础标签的使用限制或功能扩展，使HTML能够展现更加丰富的内容；MIP JS 可以保证 MIP HTML 页面的快速渲染；MIP Cache 用于实现MIP页面的高速缓存，从而进一步提高页面性能。
&lt;/mip-showmore&gt;
&lt;div on=&quot;tap:showmore05.toggle&quot; data-closetext=&quot;收起内容&quot; class=&quot;mip-showmore-btn&quot;&gt;点击显示&lt;/div&gt;
</code></pre>
<h3 id="%E5%B5%8C%E5%A5%97%E4%BD%BF%E7%94%A8-%E5%AD%97%E6%95%B0">嵌套使用-字数</h3><p>嵌套使用时，注意 <code>on</code> 和 <code>&lt;mip-showmore&gt;</code> <code>id</code> 的对应。</p>
<pre><code class="lang-html">&lt;mip-showmore maxlen=&#39;20&#39; animatetime=&#39;.3&#39; id=&quot;showmore06&quot;&gt;
    【外层元素】MIP是一套应用于移动网页的开放性技术标准。通过提供MIP-HTML规范、MIP-JS运行环境以及MIP-Cache页面缓存系统，实现移动网页加速。MIP是一套应用于移动网页的开放性技术标准。通过提供MIP-HTML规范、MIP-JS运行环境以及MIP-Cache页面缓存系统，实现移动网页加速。
    &lt;mip-showmore maxlen=&#39;20&#39; animatetime=&#39;.3&#39; id=&quot;showmore07&quot;&gt;
        【内层元素】MIP是一套应用于移动网页的开放性技术标准。通过提供MIP-HTML规范、MIP-JS运行环境以及MIP-Cache页面缓存系统，实现移动网页加速。MIP是一套应用于移动网页的开放性技术标准。通过提供MIP-HTML规范、MIP-JS运行环境以及MIP-Cache页面缓存系统，实现移动网页加速。
    &lt;/mip-showmore&gt;
    &lt;div on=&quot;tap:showmore07.toggle&quot; data-closetext=&quot;收起内层内容&quot; class=&quot;mip-showmore-btn&quot;&gt;点击显示内层&lt;/div&gt;
&lt;/mip-showmore&gt;
&lt;div on=&quot;tap:showmore06.toggle&quot; data-closetext=&quot;收起外层内容&quot; class=&quot;mip-showmore-btn&quot;&gt;点击显示外层&lt;/div&gt;
</code></pre>
<h3 id="%E8%AE%BE%E5%AE%9A%E6%8A%98%E5%8F%A0%E8%BE%B9%E7%95%8C%E6%98%AF%E5%90%A6%E6%B8%90%E5%8F%98">设定折叠边界是否渐变</h3><ul>
<li><code>bottomshadow</code> 设置折叠边界是否透明渐变。</li>
<li>嵌套使用时，注意 <code>on</code> 和 <code>&lt;mip-showmore&gt;</code> <code>id</code> 的对应。</li>
</ul>
<pre><code class="lang-html">&lt;mip-showmore bottomshadow=&#39;1&#39; maxheight=&#39;100&#39; id=&quot;showmore08&quot;&gt;
        MIP HTML 基于HTML中的基础标签制定了全新的规范，通过对一部分基础标签的使用限制或功能扩展，使HTML能够展现更加丰富的内容；MIP JS 可以保证 MIP HTML 页面的快速渲染；MIP Cache 用于实现MIP页面的高速缓存，从而进一步提高页面性能。MIP HTML 基于HTML中的基础标签制定了全新的规范，通过对一部分基础标签的使用限制或功能扩展，使HTML能够展现更加丰富的内容；MIP JS 可以保证 MIP HTML 页面的快速渲染；MIP Cache 用于实现MIP页面的高速缓存，从而进一步提高页面性能。
&lt;/mip-showmore&gt;
&lt;div on=&quot;tap:showmore08.toggle&quot; data-closetext=&quot;收起内容&quot; class=&quot;mip-showmore-btn&quot;&gt;点击显示&lt;/div&gt;
</code></pre>
<h3 id="%E5%B1%95%E5%BC%80%E5%86%85%E5%AE%B9%E5%90%8E%E4%B8%8D%E5%86%8D%E6%94%B6%E8%B5%B7">展开内容后不再收起</h3><p>要实现展开后不再收起，可以在展开后将隐藏按钮设置为不可见。如下示例，为 <code>mip-showmore-btn-hide</code> 类添加特殊样式。</p>
<p>[notice] 在设置 <code>display</code> 属性时，需要加 <code>!important</code>。样式需要写在页面唯一的 <code>&lt;style mip-custom&gt;</code> 中。</p>
<pre><code class="lang-html">&lt;style&gt;
.mip-showmore-btn-hide{
    display: none!important
}
&lt;/style&gt;
&lt;mip-showmore maxheight=&#39;40&#39; animatetime=&#39;.3&#39; id=&quot;showmore01&quot;&gt;
    &lt;div&gt;MIP （Mobile Instant Pages - 移动网页加速器）, 是一套应用于移动网页的开放性技术标准。通过提供MIP-HTML规范、MIP-JS运行环境以及MIP-Cache页面缓存系统，实现移动网页加速。&lt;/div&gt;
&lt;/mip-showmore&gt;
&lt;!--当 &#39;点击显示&#39; 按钮处于展开状态，按钮会存在 &#39;mip-showmore-btn-hide&#39; 类--&gt;
&lt;div on=&quot;tap:showmore01.toggle&quot; data-closetext=&quot;收起&quot; class=&quot;mip-showmore-btn&quot;&gt;点击显示&lt;/div&gt;
</code></pre>
<h3 id="%E6%8C%89%E9%92%AE%E5%B1%95%E5%BC%80%E6%A0%B7%E5%BC%8F%E5%AE%9A%E5%88%B6">按钮展开样式定制</h3><p>为了能够让按钮在展开和收起状态下能够有不同样式和内容的切换，如修改按钮文案，添加按钮 icon，可以通过在 <code>data-closeclass=&quot;&quot;</code> 属性中设置样式 class 名来解决，组件展开时会将此样式加入到按钮中元素上，收起会删除，设置 <code>data-closeclass</code> 后按钮内部 HTML <strong>不会被替换</strong>，从而就可以根据该样式来定制按钮内容。例如变动按钮中的文案，就可以通过如下方式书写：</p>
<pre><code class="lang-html">&lt;mip-showmore bottomshadow=&#39;1&#39; maxheight=&#39;100&#39; id=&quot;showmore&quot;&gt;
MIP HTML 基于HTML中的基础标签制定了全新的规范，通过对一部分基础标签的使用限制或功能扩展，使HTML能够展现更加丰富的内容；MIP JS 可以保证 MIP HTML 页面的快速渲染；MIP Cache 用于实现MIP页面的高速缓存，从而进一步提高页面性能。MIP HTML 基于HTML中的基础标签制定了全新的规范，通过对一部分基础标签的使用限制或功能扩展，使HTML能够展现更加丰富的内容；MIP JS 可以保证 MIP HTML 页面的快速渲染；MIP Cache 用于实现MIP页面的高速缓存，从而进一步提高页面性能。
&lt;/mip-showmore&gt;
&lt;div on=&quot;tap:showmore.toggle&quot; data-closeclass=&quot;mip-showmore-open&quot; data-closetext=&quot;收起内容&quot; class=&quot;mip-showmore-btn&quot;&gt;
    &lt;span class=&quot;show&quot;&gt;展开&lt;/span&gt;
    &lt;span class=&quot;hidden&quot;&gt;收起&lt;/span&gt;
&lt;/div&gt;

&lt;style&gt;
.mip-showmore-btn {
    position: relative;
}

.show {
    display: none;
}

.hidden {
    display: block;
}

.mip-showmore-open .show {
    display: block;
}

.mip-showmore-open .hidden {
    display: none;
}
&lt;/style&gt;
</code></pre>
<!--
虽然如下方法已弃用，但是2017-07之前有存量。组件升级需要兼容

### 设定高度阈值-旧版已弃用
```
<mip-showmore maxheight='40' animatetime='.3'>
    <div showmorebox>
        <div>MIP （Mobile Instant Pages - 移动网页加速器）, 是一套应用于移动网页的开放性技术标准。通过提供MIP-HTML规范、MIP-JS运行环境以及MIP-Cache页面缓存系统，实现移动网页加速。</div>
    </div>
    <p showmorebtn>
        <span class="mip-showmore-btnshow mip-showmore-btn">点击显示</span>
        <span class="mip-showmore-btnhide mip-showmore-btn">收起</span>
    </p>
</mip-showmore>
```
### 设定字数阈值-旧版已弃用

```
<mip-showmore maxheight='40'>
    <div showmorebox>
        <div>MIP HTML 基于HTML中的基础标签制定了全新的规范，通过对一部分基础标签的使用限制或功能扩展，使HTML能够展现更加丰富的内容；MIP JS 可以保证 MIP HTML 页面的快速渲染；MIP Cache 用于实现MIP页面的高速缓存，从而进一步提高页面性能。</div>
    </div>
    <p showmorebtn>
        <span class="mip-showmore-btnshow mip-showmore-btn">点击显示</span>
        <span class="mip-showmore-btnhide mip-showmore-btn">收起</span>
    </p>
</mip-showmore>
```
-->
<h2 id="%E5%B1%9E%E6%80%A7">属性</h2><h3 id="maxheight">maxheight</h3><ul>
<li>说明：内容字符串超出限制长度则会截断显示省略号，显示“显示更多按钮”。内容截断显示不包括图片显示。</li>
<li>取值：<code>maxheight=&#39;40&#39;</code> 表示 <code>40px</code> 处折叠；<code>maxheight=&#39;screen:0.6&#39;</code> 表示 0.6 屏（<code>0.6 * window.screen.height</code>）处折叠；</li>
<li>必选项：否</li>
<li>类型：数字或键值对</li>
<li>备注：<code>maxheight、maxlen</code> 只能存在一个，优先级 <code>maxheight &gt; maxlen</code></li>
</ul>
<h3 id="animatetime">animatetime</h3><ul>
<li>说明：展开收起动画时间。数字单位为秒，<code>&#39;animatetime=0.3&#39;</code> 为 0.3 秒</li>
<li>必选项：否</li>
<li>类型：数字（0-1之间）  </li>
<li>默认值： 0.3</li>
<li>备注: 如果不需要动画，填写 <code>&#39;animatetime=0&#39;</code>  </li>
</ul>
<h3 id="data-closetext">data-closetext</h3><ul>
<li>说明：用于展开收起按钮文字配置。</li>
<li>必选项：否</li>
<li>类型：字符串</li>
<li>默认值： “收起”</li>
</ul>
<h3 id="data-closeclass">data-closeclass</h3><ul>
<li>说明：设置展开后按钮样式</li>
<li>必选项：否</li>
<li>取值：字符串</li>
</ul>
<h3 id="showmorebox%20(%E5%B7%B2%E5%BC%83%E7%94%A8)">showmorebox (已弃用)</h3><ul>
<li>说明：内容显示框，即需要隐藏显示的 DOM</li>
<li>必选项：否</li>
<li>备注：一个 <code>&lt;mip-showmore&gt;</code> 内只允许出现一个 <code>showmorebox</code></li>
</ul>
<h3 id="showmorebtn%20(%E5%B7%B2%E5%BC%83%E7%94%A8)">showmorebtn (已弃用)</h3><ul>
<li>说明：显示更多按钮 DOM</li>
<li>必选项：否</li>
<li>备注：一个 <code>&lt;mip-showmore&gt;</code> 内只允许出现一个 <code>showmorebtn</code></li>
</ul>
<h3 id="bottomshadow">bottomshadow</h3><ul>
<li>说明：折叠边界是否渐变</li>
<li>取值：只能为 &#39;0&#39; 或 &#39;1&#39;</li>
<li>必选项：否</li>
</ul>
