<h1 id="mip-app-banner%20App%20%E8%B0%83%E8%B5%B7%E7%BB%84%E4%BB%B6">mip-app-banner App 调起组件</h1><p>用于调起 App。</p>
<table>
<thead>
<tr>
<th>标题</th>
<th>内容</th>
</tr>
</thead>
<tbody>
<tr>
<td>类型</td>
<td>通用</td>
</tr>
<tr>
<td>支持布局</td>
<td>responsive, fixed-height, fill, container, fixed</td>
</tr>
<tr>
<td>所需脚本</td>
<td><a href="https://c.mipcdn.com/static/v1/mip-app-banner/mip-app-banner.js">https://c.mipcdn.com/static/v1/mip-app-banner/mip-app-banner.js</a></td>
</tr>
</tbody>
</table>
<h2 id="%E7%A4%BA%E4%BE%8B">示例</h2><h3 id="%E5%9F%BA%E6%9C%AC%E7%94%A8%E6%B3%95">基本用法</h3><pre><code class="lang-html">&lt;head&gt;
    &lt;meta name=&quot;apple-itunes-app&quot; content=&quot;app-id=xxxx, app-argument=medium://xxxx&quot;&gt;
    &lt;link rel=&quot;manifest&quot; href=&quot;xxxx/manifest&quot;&gt;
&lt;/head&gt;
...
&lt;mip-app-banner id=&quot;my-app-banner&quot; layout=&quot;nodisplay&quot;&gt;
    &lt;button open-button&gt;打开app&lt;/button&gt;
&lt;/mip-app-banner&gt;
</code></pre>
<h2 id="%E5%B1%9E%E6%80%A7">属性</h2><h3 id="id">id</h3><p>说明：组件 <code>id</code>，组件唯一标识<br>必选项：是<br>类型：字符串<br>单位：无<br>默认值：无  </p>
<h3 id="layout">layout</h3><p>说明：组件布局，只能设置值为 <code>nodisplay</code><br>必选项：是<br>类型：字符串<br>取值范围：<code>nodisplay</code><br>单位：无<br>默认值：<code>nodisplay</code>  </p>
<h3 id="%E5%AD%90%E8%8A%82%E7%82%B9%20%3Ccode%3E%5Bopen-button%5D%3C%2Fcode%3E">子节点 <code>[open-button]</code></h3><p>说明：调起 App 的按钮，必须带有 <code>open-button</code> 属性<br>必选项：是<br>类型：HTML 节点<br>取值范围：无<br>单位：无<br>默认值：<code>&lt;button open-button&gt;</code></p>
<h2 id="%E6%B5%8F%E8%A7%88%E5%99%A8%E5%85%BC%E5%AE%B9%E6%80%A7">浏览器兼容性</h2><table>
<thead>
<tr>
<th>浏览器</th>
<th>Android+chrome</th>
<th>Android+baidu</th>
<th>iOS+safari</th>
<th>其他情况</th>
</tr>
</thead>
<tbody>
<tr>
<td>结果页打开</td>
<td>支持</td>
<td>不支持屏蔽</td>
<td>不支持，暂时屏蔽</td>
<td>支持</td>
</tr>
<tr>
<td>非结果页打开</td>
<td>不支持屏蔽</td>
<td>不支持屏蔽</td>
<td>浏览器 banner</td>
<td>支持</td>
</tr>
</tbody>
</table>
<h2 id="%E6%B3%A8%E6%84%8F%E4%BA%8B%E9%A1%B9">注意事项</h2><ul>
<li><p>在引用组件的页面头部head标签中需要加两个标签</p>
<ul>
<li>iOS 使用：<code>&lt;meta name=&quot;apple-itunes-app&quot; content=&quot;app-id=app的id, app-argument=medium://xxxx&quot;&gt;</code>。</li>
<li>Android 使用：<code>&lt;link rel=&quot;manifest&quot; href=&quot;https://xxxx/manifest.json&quot;&gt;</code>。</li>
<li>manifest 的 url 必须是 HTTPS 的。</li>
</ul>
</li>
<li><p>manifest.json 示例</p>
</li>
</ul>
<pre><code>{
  &quot;prefer_related_applications&quot;: true, 
  &quot;related_applications&quot;: [
    {
      &quot;platform&quot;: &quot;play&quot;,
      &quot;open&quot;: &quot;scheme://xx&quot;,
      &quot;install&quot;: &quot;your download url&quot;
    }
  ]
}
</code></pre>