<h1 id="mip-sidebar%20%E4%BE%A7%E8%BE%B9%E6%A0%8F">mip-sidebar 侧边栏</h1><p>侧边栏组件，点击按钮，侧边栏滑入屏幕。</p>
<table>
<thead>
<tr>
<th>标题</th>
<th>内容</th>
</tr>
</thead>
<tbody>
<tr>
<td>类型</td>
<td>通用</td>
</tr>
<tr>
<td>支持布局</td>
<td>N/S</td>
</tr>
<tr>
<td>所需脚本</td>
<td><a href="https://c.mipcdn.com/static/v1/mip-sidebar/mip-sidebar.js">https://c.mipcdn.com/static/v1/mip-sidebar/mip-sidebar.js</a></td>
</tr>
</tbody>
</table>
<h2 id="%E7%A4%BA%E4%BE%8B">示例</h2><h3 id="%E5%9F%BA%E6%9C%AC%E4%BD%BF%E7%94%A8">基本使用</h3><pre><code class="lang-html">&lt;header&gt;
    &lt;div id=&quot;logo&quot; on=&quot;tap:sidebar.open&quot;&gt;Open mip-sidebar&lt;/div&gt;
&lt;/header&gt;
&lt;mip-sidebar 
    id=&quot;sidebar&quot;
    layout=&quot;nodisplay&quot;
    class=&quot;mip-hidden&quot;&gt;
    &lt;ul&gt;
        &lt;li&gt;
            &lt;a href=&quot;https://www.mipengine.org/&quot;&gt;MIP官网&lt;/a&gt;
            &lt;button on=&quot;tap:sidebar.close&quot;&gt; X &lt;/button&gt;
        &lt;/li&gt;
        &lt;li&gt;Nav item 1&lt;/li&gt;
        &lt;li&gt;Nav item 2&lt;/li&gt;
        &lt;li&gt;Nav item 3&lt;/li&gt;
        &lt;li&gt;
            Nav item 4 - Image
            &lt;mip-img
                src=&quot;https://www.mipengine.org/favicon.ico&quot;
                width=&quot;32&quot;
                height=&quot;32&quot;
                alt=&quot;mipengine ico&quot;&gt;&lt;/mip-img&gt;
        &lt;/li&gt;
        &lt;li&gt;Nav item 5&lt;/li&gt;
        &lt;li&gt;Nav item 6&lt;/li&gt;
    &lt;/ul&gt;
&lt;/mip-sidebar&gt;
</code></pre>
<h3 id="%E5%8F%B3%E4%BE%A7%E4%BE%A7%E8%BE%B9%E6%A0%8F">右侧侧边栏</h3><pre><code class="lang-html">&lt;header&gt;
    &lt;div id=&quot;logo&quot; on=&quot;tap:right-sidebar.open&quot;&gt;Open mip-sidebar&lt;/div&gt;
&lt;/header&gt;
&lt;mip-sidebar 
    id=&quot;right-sidebar&quot;
    layout=&quot;nodisplay&quot;
    side=&quot;right&quot;
    class=&quot;mip-hidden&quot;&gt;
    &lt;ul&gt;
        &lt;li&gt;
            &lt;a href=&quot;https://www.mipengine.org/&quot;&gt;MIP官网&lt;/a&gt;
            &lt;button on=&quot;tap:right-sidebar.close&quot;&gt; X &lt;/button&gt;
        &lt;/li&gt;
        &lt;li&gt;Nav item 1&lt;/li&gt;
        &lt;li&gt;Nav item 2&lt;/li&gt;
        &lt;li&gt;Nav item 3&lt;/li&gt;
        &lt;li&gt;
            Nav item 4 - Image
            &lt;mip-img
                src=&quot;https://www.mipengine.org/favicon.ico&quot;
                width=&quot;32&quot;
                height=&quot;32&quot;
                alt=&quot;mipengine ico&quot;&gt;&lt;/mip-img&gt;
        &lt;/li&gt;
        &lt;li&gt;Nav item 5&lt;/li&gt;
        &lt;li&gt;Nav item 6&lt;/li&gt;
        &lt;li&gt;placeholder&lt;/li&gt;
        &lt;li&gt;placeholder&lt;/li&gt;
        &lt;li&gt;placeholder&lt;/li&gt;
        &lt;li&gt;placeholder&lt;/li&gt;
        &lt;li&gt;placeholder&lt;/li&gt;
        &lt;li&gt;placeholder&lt;/li&gt;
        &lt;li&gt;placeholder&lt;/li&gt;
        &lt;li&gt;placeholder&lt;/li&gt;
        &lt;li&gt;placeholder&lt;/li&gt;
        &lt;li&gt;placeholder&lt;/li&gt;
        &lt;li&gt;placeholder&lt;/li&gt;
        &lt;li&gt;placeholder&lt;/li&gt;
        &lt;li&gt;placeholder&lt;/li&gt;
        &lt;li&gt;placeholder&lt;/li&gt;
    &lt;/ul&gt;
&lt;/mip-sidebar&gt;
</code></pre>
<h2 id="%E5%B1%9E%E6%80%A7">属性</h2><h3 id="id">id</h3><p>说明：id<br>必填：是<br>格式：字符串<br>单位：无<br>默认值：无<br>使用限制：无</p>
<h3 id="layout">layout</h3><p>说明：布局设定<br>必填：是<br>格式：字符串<br>单位：无<br>取值：<code>nodisplay</code></p>
<h3 id="side">side</h3><p>说明：侧边栏位置设定，左边或者右边<br>必填：否<br>格式：字符串<br>单位：无<br>取值：<code>left</code>, <code>right</code><br>默认值：<code>left</code></p>
