<h1 id="mip-stats-bidu">mip-stats-bidu</h1><p>mip-stats-bidu 用来支持站长添加百度统计。推荐使用 mip-stats-baidu</p>
<table>
<thead>
<tr>
<th>描述</th>
<th>百度统计组件，用于统计页面数据</th>
</tr>
</thead>
<tbody>
<tr>
<td>类型</td>
<td>通用</td>
</tr>
<tr>
<td>支持布局</td>
<td>N/S</td>
</tr>
<tr>
<td>所需脚本</td>
<td><a href="https://c.mipcdn.com/static/v1/mip-stats-bidu/mip-stats-bidu.js">https://c.mipcdn.com/static/v1/mip-stats-bidu/mip-stats-bidu.js</a></td>
</tr>
</tbody>
</table>
<h2 id="%E7%A4%BA%E4%BE%8B">示例</h2><p>MIP提供百度统计的插件，便于分析页面数据，需要提前到百度统计这边创建站点，会自动生成js代码使用提取工具提取token，并使用MIP提供的插件，代码示例：</p>
<pre><code>    &lt;mip-stats-bidu token=&quot;02890d4a309827eb62bc3335b2b28f7f&quot;&gt;&lt;/mip-stats-bidu&gt;
</code></pre><h2 id="%E5%B1%9E%E6%80%A7">属性</h2><h3 id="token">token</h3><p>说明：token
必填：是
格式：字符串</p>
