<h1 id="mip-nav-slidedown%20%E8%8F%9C%E5%8D%95">mip-nav-slidedown 菜单</h1><p>响应式菜单，在 MIP 官网有引用。</p>
<table>
<thead>
<tr>
<th>标题</th>
<th>内容</th>
</tr>
</thead>
<tbody>
<tr>
<td>类型</td>
<td>通用</td>
</tr>
<tr>
<td>支持布局</td>
<td>responsive, fixed-height, fill, container, fixed</td>
</tr>
<tr>
<td>所需脚本</td>
<td><a href="https://c.mipcdn.com/static/v1/mip-nav-slidedown/mip-nav-slidedown.js">https://c.mipcdn.com/static/v1/mip-nav-slidedown/mip-nav-slidedown.js</a></td>
</tr>
</tbody>
</table>
<h2 id="%E7%A4%BA%E4%BE%8B">示例</h2><h3 id="%E5%9F%BA%E6%9C%AC%E4%BD%BF%E7%94%A8">基本使用</h3><pre><code class="lang-html">&lt;div class=&quot;mip-nav-wrapper&quot;&gt;
    &lt;mip-nav-slidedown
        data-id=&quot;bs-navbar&quot;
        class=&quot;mip-element-sidebar container&quot;
        data-showbrand=&quot;1&quot;
        data-brandname=&quot;MIP官网&quot;&gt;
        &lt;nav id=&quot;bs-navbar&quot; class=&quot;navbar-collapse collapse navbar navbar-static-top&quot;&gt;
            &lt;ul class=&quot;nav navbar-nav navbar-right&quot;&gt;
                &lt;li&gt;
                    &lt;a href=&quot;//www.mipengine.org/&quot;&gt;首页&lt;/a&gt;
                &lt;/li&gt;
                &lt;li&gt;
                    &lt;a href=&quot;//www.mipengine.org/timeline.html&quot;&gt;动态&lt;/a&gt;
                &lt;/li&gt;
                &lt;li&gt;
                    &lt;a href=&quot;http://www.cnblogs.com/mipengine/&quot;&gt;博客&lt;/a&gt;
                &lt;/li&gt;
                &lt;li class=&quot;navbar-wise-close&quot;&gt;
                    &lt;span id=&quot;navbar-wise-close-btn&quot;&gt;&lt;/span&gt;
                &lt;/li&gt;
            &lt;/ul&gt;
        &lt;/nav&gt;
    &lt;/mip-nav-slidedown&gt;
&lt;/div&gt;
</code></pre>
<h3 id="%E5%AF%BC%E8%88%AA%E8%8F%9C%E5%8D%95%E4%B8%AA%E6%95%B0%E5%A4%9A">导航菜单个数多</h3><p>导航菜单个数较多时，菜单展开可以上下滚动。</p>
<pre><code class="lang-html">&lt;div class=&quot;mip-nav-wrapper&quot;&gt;
    &lt;mip-nav-slidedown
        data-id=&quot;bs-navbar&quot;
        class=&quot;mip-element-sidebar container&quot;
        data-showbrand=&quot;1&quot;
        data-brandname=&quot;MIP官网&quot;&gt;
        &lt;nav id=&quot;bs-navbar&quot; class=&quot;navbar-collapse collapse navbar navbar-static-top&quot;&gt;
            &lt;ul class=&quot;nav navbar-nav navbar-right&quot;&gt;
                &lt;li&gt;&lt;a href=&quot;//www.mipengine.org/&quot;&gt;菜单1&lt;/a&gt;&lt;/li&gt;
                &lt;li&gt;&lt;a href=&quot;//www.mipengine.org/&quot;&gt;菜单2&lt;/a&gt;&lt;/li&gt;
                &lt;li&gt;&lt;a href=&quot;//www.mipengine.org/&quot;&gt;菜单3&lt;/a&gt;&lt;/li&gt;
                &lt;li&gt;&lt;a href=&quot;//www.mipengine.org/&quot;&gt;菜单4&lt;/a&gt;&lt;/li&gt;
                &lt;li&gt;&lt;a href=&quot;//www.mipengine.org/&quot;&gt;菜单5&lt;/a&gt;&lt;/li&gt;
                &lt;li&gt;&lt;a href=&quot;//www.mipengine.org/&quot;&gt;菜单6&lt;/a&gt;&lt;/li&gt;
                &lt;li&gt;&lt;a href=&quot;//www.mipengine.org/&quot;&gt;菜单7&lt;/a&gt;&lt;/li&gt;
                &lt;li&gt;&lt;a href=&quot;//www.mipengine.org/&quot;&gt;菜单8&lt;/a&gt;&lt;/li&gt;
                &lt;li&gt;&lt;a href=&quot;//www.mipengine.org/&quot;&gt;菜单9&lt;/a&gt;&lt;/li&gt;
                &lt;li&gt;&lt;a href=&quot;//www.mipengine.org/&quot;&gt;菜单10&lt;/a&gt;&lt;/li&gt;
                &lt;li&gt;&lt;a href=&quot;//www.mipengine.org/&quot;&gt;菜单11&lt;/a&gt;&lt;/li&gt;
                &lt;li class=&quot;navbar-wise-close&quot;&gt;
                    &lt;span id=&quot;navbar-wise-close-btn&quot;&gt;&lt;/span&gt;
                &lt;/li&gt;
            &lt;/ul&gt;
        &lt;/nav&gt;
    &lt;/mip-nav-slidedown&gt;
&lt;/div&gt;
</code></pre>
<h3 id="%E5%A2%9E%E5%8A%A0%E4%BA%8C%E7%BA%A7%E8%8F%9C%E5%8D%95">增加二级菜单</h3><p>直接添加<code>&lt;ul&gt;</code>可以展现二级菜单效果。</p>
<pre><code class="lang-html">&lt;div class=&quot;mip-nav-wrapper&quot;&gt;
    &lt;mip-nav-slidedown 
        data-id=&quot;bs-navbar&quot;
        class=&quot;mip-element-sidebar container&quot;
        data-showbrand=&quot;1&quot;
        data-brandname=&quot;MIP官网&quot;&gt;
        &lt;nav id=&quot;bs-navbar&quot; class=&quot;navbar-collapse collapse navbar navbar-static-top&quot;&gt;
            &lt;ul class=&quot;nav navbar-nav navbar-right&quot;&gt;
                &lt;li&gt;
                    &lt;a href=&quot;//www.mipengine.org/&quot;&gt;首页&lt;/a&gt;
                &lt;/li&gt;
                &lt;li&gt;
                    &lt;span class=&quot;navbar-more&quot;&gt;常用工具&lt;/span&gt;
                    &lt;ul&gt;
                        &lt;li&gt; &lt;a href=&quot;//www.mipengine.org/&quot;&gt;子菜单01&lt;/a&gt; &lt;/li&gt;
                        &lt;li&gt; &lt;a href=&quot;//www.mipengine.org/&quot;&gt;子菜单02&lt;/a&gt; &lt;/li&gt;
                        &lt;li&gt; &lt;a href=&quot;//www.mipengine.org/&quot;&gt;子菜单03&lt;/a&gt; &lt;/li&gt;
                        &lt;li&gt; &lt;a href=&quot;//www.mipengine.org/&quot;&gt;子菜单04&lt;/a&gt; &lt;/li&gt;
                    &lt;/ul&gt;
                &lt;/li&gt;
                &lt;li&gt;
                    &lt;a href=&quot;//www.mipengine.org/timeline.html&quot;&gt;动态&lt;/a&gt;
                &lt;/li&gt;
                &lt;li&gt;
                    &lt;span class=&quot;navbar-more&quot;&gt;下拉菜单&lt;/span&gt;
                    &lt;ul&gt;
                        &lt;li&gt; &lt;a href=&quot;//www.mipengine.org/&quot;&gt;子菜单01&lt;/a&gt; &lt;/li&gt;
                        &lt;li&gt; &lt;a href=&quot;//www.mipengine.org/&quot;&gt;子菜单02&lt;/a&gt; &lt;/li&gt;
                        &lt;li&gt; &lt;a href=&quot;//www.mipengine.org/&quot;&gt;子菜单03&lt;/a&gt; &lt;/li&gt;
                        &lt;li&gt; &lt;a href=&quot;//www.mipengine.org/&quot;&gt;子菜单04&lt;/a&gt; &lt;/li&gt;
                    &lt;/ul&gt;
                &lt;/li&gt;
                &lt;li class=&quot;navbar-wise-close&quot;&gt;
                    &lt;span id=&quot;navbar-wise-close-btn&quot;&gt;&lt;/span&gt;
                &lt;/li&gt;
            &lt;/ul&gt;
        &lt;/nav&gt;
    &lt;/mip-nav-slidedown&gt;
&lt;/div&gt;
</code></pre>
<h2 id="%E5%B1%9E%E6%80%A7">属性</h2><h3 id="data-id">data-id</h3><p>说明：内部菜单 <code>id</code><br>必选项：是<br>类型：字符串  </p>
<h3 id="data-showbrand">data-showbrand</h3><p>说明：是否需要左上角显示可点击区域<br>必选项：否<br>类型：数字<br>取值：0（不显示），1（显示）<br>默认值：1</p>
<h3 id="data-brandname">data-brandname</h3><p>说明：左上角显示可点击区域文字，仅在 <code>data-showbrand=1</code> 时显示<br>必选项：否<br>类型：字符串，如 &quot;MIP官网&quot;  </p>
<h3 id="data-brandhref">data-brandhref</h3><p>说明：左上角图标跳转链接，在 <code>data-showbrand</code> 为 1 时有效<br>必选项：否<br>类型：URL<br>默认：&#39;/&#39;</p>
<h2 id="%E6%B3%A8%E6%84%8F%E4%BA%8B%E9%A1%B9">注意事项</h2><ol>
<li>一个页面内，只能存在一个下拉菜单，<code>data-id=&quot;bs-navbar&quot;</code>。</li>
</ol>
