<h1 id="mip-vd-baidu">mip-vd-baidu</h1><p><code>&lt;mip-vd-baidu&gt;</code> HTTP 视频源播放的百度解决方案。</p>
<p>在 MIP 中，一些资源的使用需要支持 HTTPS，视频就是其中一种。但目前大部分站点的视频资源都还是 HTTP 的资源，无法在百度 MIP 搜索结果中直接使用，<code>&lt;mip-video&gt;</code> 视频组件针对 HTTP 的视频资源采用跳到一个 HTTP 的播放页面进行播放，这种体验并非最佳。故 MIP 项目组联合百度搜索，推出在 MIP 中直接使用 HTTP 视频源进行播放的解决方案，那就是 <code>&lt;mip-vd-baidu&gt;</code> 组件。</p>
<table>
<thead>
<tr>
<th>标题</th>
<th>内容</th>
</tr>
</thead>
<tbody>
<tr>
<td>类型</td>
<td>通用</td>
</tr>
<tr>
<td>支持布局</td>
<td>responsive</td>
</tr>
<tr>
<td>所需脚本</td>
<td><a href="https://c.mipcdn.com/static/v1/mip-vd-baidu/mip-vd-baidu.js">https://c.mipcdn.com/static/v1/mip-vd-baidu/mip-vd-baidu.js</a></td>
</tr>
</tbody>
</table>
<h2 id="%E7%A4%BA%E4%BE%8B">示例</h2><h3 id="%E5%9F%BA%E6%9C%AC%E7%94%A8%E6%B3%95">基本用法</h3><pre><code class="lang-html">&lt;mip-vd-baidu layout=&quot;responsive&quot; width=&quot;640&quot; height=&quot;360&quot; 
    title=&quot;MIP移动网页加速器&quot; 
    src=&quot;http://mip-doc.bj.bcebos.com/MIPSampleVideo.mp4&quot; 
    poster=&quot;https://mip-doc.bj.bcebos.com/mip-video-poster.jpg&quot;&gt;
&lt;/mip-vd-baidu&gt;
</code></pre>
<h2 id="%E5%B1%9E%E6%80%A7">属性</h2><h3 id="title">title</h3><p>说明：视频的标题<br>必选项：是<br>类型：字符串<br>取值范围：无<br>单位：无<br>默认值：无  </p>
<h3 id="src">src</h3><p>说明：视频源地址<br>必选项：是<br>类型：URL 类型<br>取值范围：标准 URL<br>单位：无<br>默认值：无  </p>
<h3 id="poster">poster</h3><p>说明：视频源的封页<br>必选项：是<br>类型：图片 URL 类型<br>取值范围：标准图片 URL<br>单位：无<br>默认值：无  </p>
<h2 id="%E6%8A%80%E6%9C%AF%E5%AE%9E%E7%8E%B0%E5%8E%9F%E7%90%86">技术实现原理</h2><ol>
<li>通过组件的参数生成视频请求的 URL；</li>
<li>请求百度 MIP 视频  Server；</li>
<li>请求内容池，如果存在该视频资源，返回支持 HTTPS 的视频 URL，若不存在，返回原 URL，并调用视频抓取服务，将视频抓取放入内容池，需要添加 IP 白名单：123.125.71.*；</li>
<li>通过百度 MIP 视频 Server 返回的视频 URL 做播放逻辑。</li>
</ol>
<p>概括地说，百度 MIP 视频服务会通过抓取，将 HTTP 的视频源抓取到百度 MIP 视频内容池， 从而达到视频支持 HTTPS 的目的。</p>
<p>详细步骤见如下流程图：<br><img src="https://user-images.githubusercontent.com/3872051/34427766-ba23b8a4-ec80-11e7-8581-240269edec8b.png" alt="MIP视频服务流程图"></p>
<h2 id="%E6%B3%A8%E6%84%8F%E4%BA%8B%E9%A1%B9">注意事项</h2><p>若缺少必填属性，MIP  视频服务的抓取流程无法进行。</p>
