<h1 id="mip-mustache">mip-mustache</h1><p>mustache模板引擎</p>
<table>
<thead>
<tr>
<th>标题</th>
<th>内容</th>
</tr>
</thead>
<tbody>
<tr>
<td>类型</td>
<td>通用</td>
</tr>
<tr>
<td>支持布局</td>
<td>不使用布局</td>
</tr>
<tr>
<td>所需脚本</td>
<td><a href="https://c.mipcdn.com/static/v1/mip-mustache/mip-mustache.js">https://c.mipcdn.com/static/v1/mip-mustache/mip-mustache.js</a></td>
</tr>
</tbody>
</table>
<h2 id="%E7%A4%BA%E4%BE%8B">示例</h2><pre><code class="lang-html">&lt;!-- 模板引擎类型的组件统一使用 `&lt;template&gt;` 标签 --&gt;
&lt;template type=&quot;mip-mustache&quot;&gt;
code
&lt;/template&gt;
</code></pre>
<h2 id="%E5%B1%9E%E6%80%A7">属性</h2><h3 id="type">type</h3><p>说明：模板引擎类型<br>必选项：是<br>类型：字符串  </p>
