<h1 id="mip-appdl%20App%20%E4%B8%8B%E8%BD%BD">mip-appdl App 下载</h1><p>App 下载，可区分 Android 和 iOS。</p>
<table>
<thead>
<tr>
<th>标题</th>
<th>内容</th>
</tr>
</thead>
<tbody>
<tr>
<td>类型</td>
<td>通用</td>
</tr>
<tr>
<td>支持布局</td>
<td>N/S</td>
</tr>
<tr>
<td>所需脚本</td>
<td><a href="https://c.mipcdn.com/static/v1/mip-appdl/mip-appdl.js">https://c.mipcdn.com/static/v1/mip-appdl/mip-appdl.js</a></td>
</tr>
</tbody>
</table>
<h2 id="%E7%A4%BA%E4%BE%8B">示例</h2><h3 id="%E6%9C%89%E5%9B%BE%E6%A0%B7%E5%BC%8F">有图样式</h3><pre><code class="lang-html">&lt;mip-appdl 
    tpl=&quot;imageText&quot; 
    src=&quot;http://ms0.meituan.net/touch/css/i/logo.png&quot; 
    texttip= &quot;[&#39;积分能当钱花了&#39;,&#39;下载百度浏览器&#39;,&#39;下载百度浏览器&#39;]&quot; 
    downbtntext=&quot;立即使用&quot; 
    Other-downsrc=&quot;http://sqdd.myapp.com/myapp/qqteam/AndroidQQ/mobileqq_android.apk&quot;
    Android-downsrc=&quot;http://sqdd.myapp.com/myapp/qqteam/AndroidQQ/mobileqq_android.apk&quot; 
    Ios-downsrc=&quot;itms-apps://itunes.apple.com/app/id452186370&quot; postiontye=&quot;fixed&quot;&gt;
&lt;/mip-appdl&gt;
</code></pre>
<h3 id="%E5%9B%BA%E5%AE%9A%E4%BD%8D%E7%BD%AE">固定位置</h3><p>使用悬浮组件支持</p>
<pre><code class="lang-html">&lt;mip-fixed type=&quot;bottom&quot;&gt;
    &lt;mip-appdl 
        tpl=&quot;imageText&quot; 
        src=&quot;http://ms0.meituan.net/touch/css/i/logo.png&quot; 
        texttip= &quot;[&#39;积分能当钱花了&#39;,&#39;下载百度浏览器&#39;,&#39;下载百度浏览器&#39;]&quot; 
        downbtntext=&quot;立即使用&quot; 
        Other-downsrc=&quot;http://sqdd.myapp.com/myapp/qqteam/AndroidQQ/mobileqq_android.apk&quot;
        Android-downsrc=&quot;http://sqdd.myapp.com/myapp/qqteam/AndroidQQ/mobileqq_android.apk&quot; 
        Ios-downsrc=&quot;itms-apps://itunes.apple.com/app/id452186370&quot; postiontye=&quot;fixed&quot;
    &gt;&lt;/mip-appdl&gt;
&lt;/mip-fixed&gt;
</code></pre>
<h2 id="%E5%B1%9E%E6%80%A7">属性</h2><h3 id="tpl">tpl</h3><p>说明：展示类型<br>必填：是<br>格式：字符串<br>取值：<code>noneImg</code>, <code>imageText</code>  </p>
<h3 id="src">src</h3><p>说明：图片地址<br>必填：是（<code>tpl</code> 为 <code>imageText</code> 的场景）<br>格式：字符串<br>取值：URL 类型  </p>
<h3 id="texttip">texttip</h3><p>说明：显示问只能<br>必填：是<br>格式：字符串  </p>
<h3 id="Android-downsrc">Android-downsrc</h3><p>说明：安卓下载路径<br>必填：否<br>格式：字符串<br>取值：URL 类型<br>使用限制：直接下载需要传递 apk 直接下载路径否则可传下载页路径，如果对应系统没有下载链接则显示默认链接  </p>
<h3 id="Ios-downsrc">Ios-downsrc</h3><p>说明：iOS 下载路径<br>必填：否<br>格式：字符串<br>取值：URL 类型<br>使用限制：必须填写 appStore 下载路径（如：itms-apps://itunes.apple.com/app/id452186370）或者下载页路径，如果对应系统没有下载链接则显示默认链接  </p>
<h3 id="Other-downsrc">Other-downsrc</h3><p>说明：其他设备下载路径<br>必填：否<br>格式：字符串<br>取值：URL 类型<br>使用限制：如果对应系统没有下载链接时显示默认链接  </p>
