<h1 id="mip-access">mip-access</h1><p><code>&lt;mip-access&gt;</code> 能够根据用户访问页面的情况，协同开发者配置接口返回的数据，对页面内容进行访问权限控制，如文章最多能够访问 n 篇，超过之后不能直接访问，需要通过一些策略，如登陆、付费后才能继续。</p>
<table>
<thead>
<tr>
<th>标题</th>
<th>内容</th>
</tr>
</thead>
<tbody>
<tr>
<td>类型</td>
<td>通用</td>
</tr>
<tr>
<td>支持布局</td>
<td>N/S</td>
</tr>
<tr>
<td>所需脚本</td>
<td><a href="https://c.mipcdn.com/static/v1/mip-access/mip-access.js">https://c.mipcdn.com/static/v1/mip-access/mip-access.js</a></td>
</tr>
</tbody>
</table>
<h2 id="%E7%A4%BA%E4%BE%8B">示例</h2><p><a href="https://www.mipengine.org/samples-templates/mip-access/list">mip-access 示例</a></p>
<h2 id="%E4%BD%BF%E7%94%A8%E6%96%B9%E5%BC%8F">使用方式</h2><p>开发者在使用 <code>&lt;mip-access</code>&gt; 组件实现页面内容访问权限控制时，需要通过脚本引入、表达式书写、参数配置等几个步骤，以下分别对这几步做详细讲解：</p>
<h3 id="1.%20%E8%84%9A%E6%9C%AC%E5%BC%95%E5%85%A5">1. 脚本引入</h3><pre><code>&lt;script type=&quot;text/javascript&quot; src=&quot;https://c.mipcdn.com/static/v1/mip.js&quot;&gt;&lt;/script&gt;
&lt;script type=&quot;text/javascript&quot; src=&quot;https://c.mipcdn.com/static/v1/mip-access/mip-access.js&quot;&gt;&lt;/script&gt;
</code></pre><h3 id="2.%20%E8%A1%A8%E8%BE%BE%E5%BC%8F%E4%B9%A6%E5%86%99">2. 表达式书写</h3><p><code>&lt;mip-access&gt;</code> 是通过表达式计算得出的结果来决定一个元素是否能够展示的，如：</p>
<pre><code>&lt;!-- 其中 access 和 subscriber 均为第 3 步中配置的 authorization 接口所返回 --&gt;
&lt;!-- 假如返回数据中 access=true，subscriber=true，则 access AND subscriber 解析为 true，元素展示；否则为 false，元素不展示 --&gt;
&lt;div mip-access=&quot;access AND subscriber&quot;&gt;展示元素&lt;/div&gt;
&lt;!-- 假如返回数据中 access=false，subscriber=false，则 access AND subscriber 解析为 false，元素不展示；否则为 true，元素展示 --&gt;
&lt;div mip-access=&quot;access OR subscriber&quot;&gt;展示元素&lt;/div&gt;
</code></pre><p>表达式中可以使用的运算符在 <a href="https://github.com/mipengine/mip-extensions/blob/master/src/mip-access/mip-access-expr-impl.jison">access-expr-impl.jison</a> 中全部列举，其中主要运算符如下：</p>
<h4 id="%E9%80%BB%E8%BE%91%E8%BF%90%E7%AE%97%E7%AC%A6">逻辑运算符</h4><table>
<thead>
<tr>
<th>运算符</th>
<th>描述</th>
<th>例子</th>
</tr>
</thead>
<tbody>
<tr>
<td>AND</td>
<td>“且”运算</td>
<td>A AND B</td>
</tr>
<tr>
<td>OR</td>
<td>“或”运算</td>
<td>A OR B</td>
</tr>
<tr>
<td>NOT</td>
<td>“非”运算</td>
<td>NOT A</td>
</tr>
</tbody>
</table>
<h4 id="%E6%AF%94%E8%BE%83%E8%BF%90%E7%AE%97%E7%AC%A6">比较运算符</h4><table>
<thead>
<tr>
<th>运算符</th>
<th>描述</th>
<th>例子</th>
</tr>
</thead>
<tbody>
<tr>
<td>=</td>
<td>是否相等</td>
<td>A = B</td>
</tr>
<tr>
<td>!=</td>
<td>是否不等</td>
<td>A != B</td>
</tr>
<tr>
<td>&lt;</td>
<td>小于</td>
<td>A &lt; B</td>
</tr>
<tr>
<td>&lt;=</td>
<td>小于等于</td>
<td>A &lt;= B</td>
</tr>
<tr>
<td>></td>
<td>大于</td>
<td>A &gt; B</td>
</tr>
<tr>
<td>>=</td>
<td>大于等于</td>
<td>A &gt;= B</td>
</tr>
</tbody>
</table>
<h3 id="3.%20%E5%8F%82%E6%95%B0%E9%85%8D%E7%BD%AE">3. 参数配置</h3><p><code>&lt;mip-access&gt;</code> 使用时需要配置一些参数才能够进行使用，这些参数配置在 <code>&lt;script id=&quot;mip-access&quot; type=&quot;application/json&quot;&gt;&lt;/script&gt;</code>，如：</p>
<pre><code>&lt;script id=&quot;mip-access&quot; type=&quot;application/json&quot;&gt;
{
    &quot;authorization&quot;: &quot;https://publisher.com/mip-access/api/mip-authorization.json?rid=READER_ID&amp;url=CANONICAL_URL&quot;,
    &quot;pingback&quot;: &quot;https://publisher.com/mip-access/api/mip-pingback?rid=READER_ID&quot;,
    &quot;login&quot;: &quot;https://publisher.com/mip-access/login/?rid=READER_ID&amp;url=CANONICAL_URL&quot;,
    &quot;authorizationFallbackResponse&quot;: {
        &quot;error&quot;: true,
        &quot;access&quot;: false
    }
}
&lt;/script&gt;
</code></pre><p>其中涉及到的参数及其对应的功能描述列举如下：</p>
<h4 id="authorization">authorization</h4><p>授权接口（数据接口）。该接口返回的数据提供给第 2 步中的表达式解析使用，接口返回的数据名可直接写在表达式中，然后 MIP 会自动根据返回数据进行解析，如：</p>
<pre><code>&lt;!-- authorization 接口返回的数据 --&gt;
{
    login: true,
    access: false
}

&lt;!-- 表达式书写，以下表达式解析为 false，元素不展示 --&gt;
&lt;div mip-access=&quot;login AND access&quot;&gt;展示元素&lt;/div&gt;
</code></pre><h4 id="pingback">pingback</h4><p>计数接口。该接口触发的时机是在 authorization 接口数据返回成功，同时页面表达式解析完成之后。该接口的作用主要是通知开发者，当前页面（文章）已经访问完成，可以采取策略来控制（为下一篇文章的展现做数据准备），如接到计数接口请求之后，使免费文章总访问减 1，然后访问下一篇文章时再请求 authorization 接口，里面的数据就已是减 1 之后的。</p>
<h4 id="noPingback">noPingback</h4><p>是否需要在页面表达式解析完成后发出 pingback 请求，设置为 true 则是不需要。</p>
<h4 id="login">login</h4><p>登陆相关接口，可以是一个字符串，用于配置登录页面地址。也可以是一个对象，其中配置登录和登出的页面地址，如:</p>
<pre><code>&quot;login&quot;: {
     &quot;login&quot;: &quot;https://publisher.com/login.html?rid={READER_ID}&quot;,
     &quot;logout&quot;: &quot;https://publisher.com/logout.html?rid={READER_ID}&quot;
}
</code></pre><h4 id="authorizationFallbackResponse">authorizationFallbackResponse</h4><p>如果 authorization 接口请求失败，开发者也可以配置备用数据，通过备用数据决定页面内元素的展现，如：</p>
<pre><code>&lt;!-- 备用数据 --&gt;
&quot;authorizationFallbackResponse&quot;: {
    &quot;error&quot;: true,
    &quot;access&quot;: false
}
&lt;!-- 表达式书写，以下表达式解析为 false，元素不展现 --&gt;
&lt;div mip-access=&quot;error AND access&quot;&gt;展示元素&lt;/div&gt;
</code></pre><h4 id="authorizationTimeout">authorizationTimeout</h4><p>authorization 接口请求超时时间，默认为 3s。</p>
<h3 id="URL%20%E5%8F%82%E6%95%B0">URL 参数</h3><p><code>&lt;mip-access&gt;</code> 同样为 URL 定制了一些常量，可以允许开发者直接在 URL 中进行使用，如：</p>
<pre><code>&lt;!-- 设置的 URL --&gt;
https://www.mipengine.org/?rid=READER_ID&amp;url=SOURCE_URL&quot;
&lt;!-- 解析后的 URL --&gt;
https://www.mipengine.org/?rid=mip-142313cb090fa43b7ebecee9089f15b0&amp;url=https%3A%2F%2Fwww.mipengine.org%2F&quot;
</code></pre><p>具体可使用的参数如下：</p>
<ul>
<li>READER_ID: 获取访问用户的 ID，该 ID 是可以理解为区分用户的唯一标示，通过 localStorage 的进行存储（清除 localStorage 后会再次生成）。</li>
<li>SOURCE_URL: 当前页面 URL，即 <code>window.location.href</code>。</li>
<li>MIPDOC_URL: MIP 原站点 URL，非 MIP-Cache URL。</li>
<li>CANONICAL_URL: MIP 站点对应的原 h5 站点 URL，如果 h5 站点不存在，则为当前页面 URL。</li>
<li>DOCUMENT_REFERRER: 页面访问的 referer。</li>
<li>RANDOM: 随机数。</li>
</ul>
<h2 id="%E6%B3%A8%E6%84%8F%E7%82%B9">注意点</h2><ul>
<li><p>请求如何配置？</p>
<p>  <code>&lt;mip-access&gt;</code> 中所有接口的请求都依据 <a href="https://developer.mozilla.org/zh-CN/docs/Web/API/Fetch_API/Using_Fetch">cors</a> 方案，需要后端配置 <code>Access-Control-Allow-origin</code> 为允许的 origin，其中包括 <code>mipcache.bdstatic.com</code> 、 <code>*.mipcdn.com</code> 和 站点自身 URL origin。</p>
</li>
</ul>
<h2 id="%E5%B1%9E%E6%80%A7">属性</h2><h3 id="mip-access">mip-access</h3><p>说明：控制 DOM 元素展示或隐藏的计算表达式<br>必选项：是<br>类型：字符串<br>单位：无<br>取值：无<br>默认值：无</p>
<h3 id="mip-access-hide">mip-access-hide</h3><p>说明：DOM 元素在表达式计算完成之前默认是展现的，如果在这段时间里希望隐藏元素，则通过设置该属性即可<br>必选项：否<br>类型：字符串<br>单位：无<br>取值：无<br>默认值：无</p>
