<h1 id="mip-map%20%E5%9C%B0%E5%9B%BE%E7%BB%84%E4%BB%B6">mip-map 地图组件</h1><p><code>&lt;mip-map&gt;</code> 组件集成了百度地图的服务，目前支持定位、地图控件加载、定位点弹窗信息定制等功能！</p>
<table>
<thead>
<tr>
<th>标题</th>
<th>内容</th>
</tr>
</thead>
<tbody>
<tr>
<td>类型</td>
<td>通用</td>
</tr>
<tr>
<td>支持布局</td>
<td>responsive, fixed-height, fill, container, fixed</td>
</tr>
<tr>
<td>所需脚本</td>
<td><a href="https://c.mipcdn.com/static/v1/mip-map/mip-map.js">https://c.mipcdn.com/static/v1/mip-map/mip-map.js</a></td>
</tr>
</tbody>
</table>
<h2 id="%E7%A4%BA%E4%BE%8B">示例</h2><h3 id="%E5%9F%BA%E6%9C%AC%E7%94%A8%E6%B3%95">基本用法</h3><pre><code class="lang-html">&lt;mip-map height=&quot;300&quot;&gt;
    &lt;script type=&quot;application/json&quot;&gt;
    {
        &quot;ak&quot;: &quot;hKhuzfFBrcL6zGm4s6b371NDxaUrhFPl&quot;,
        &quot;location&quot;: {
            &quot;province&quot;: &quot;北京&quot;,
            &quot;city&quot;: &quot;北京市&quot;,
            &quot;district&quot;: &quot;海淀区&quot;,
            &quot;street&quot;: &quot;西北旺东路10号院百度科技园1号楼&quot;
        },
        &quot;controls&quot;: {
            &quot;NavigationControl&quot;: {
            },
            &quot;MapTypeControl&quot;: {
            }
        },
        &quot;info&quot;: {
            &quot;width&quot; : 250,
            &quot;height&quot;: 100,
            &quot;content&quot;: &quot;&lt;h4&gt;百度科技园1号楼&lt;/h4&gt;&lt;p style=&#39;line-height:1.5;font-size:13px;&#39;&gt;百度科技园1号楼坐落于北京北京市海淀区西北旺东路10号院&lt;/p&gt;&lt;/div&gt;&quot;
        }
    }
    &lt;/script&gt;
&lt;/mip-map&gt;
</code></pre>
<h2 id="%E4%BD%BF%E7%94%A8%E8%AF%B4%E6%98%8E">使用说明</h2><p>地图组件具体参数的配置和使用方式如下：</p>
<h3 id="ak">ak</h3><p>使用地图组件之前必须要申请成为百度开发者，并创建百度服务密钥（<code>ak</code>），这里的 <code>ak</code> 参数即代表该功能。具体申请方式可以参见<a href="http://lbsyun.baidu.com/index.php?title=jspopular/guide/getkey">百度地图 Javascript api 文档</a>。</p>
<h3 id="location">location</h3><p>定位相关参数，可以根据配置的具体地址来获取在地图上的精确定位。</p>
<ul>
<li><code>province</code>: 定位所对应的省份或直辖市，如“北京”。</li>
<li><code>city</code>: 定位所对应的城市，如“北京市”。</li>
<li><code>district</code>: 定位所对应的区或县，如“海淀区”。</li>
<li><code>street</code>: 定位所对应的具体街道或门牌信息，如“西北旺东路 10 号院”。</li>
</ul>
<h3 id="controls">controls</h3><p>在地图绘制完成之后也可以在地图中加入对应的控件，具体是按照 <code>控件名: 控件参数对象</code> 的方式设置，如：</p>
<pre><code>&lt;mip-map&gt;
    &lt;script type=&quot;application/json&quot;&gt;
    {
        &quot;ak&quot;: &quot;hKhuzfFBrcL6zGm4s9b371NaxaUrhFal&quot;,
        &quot;location&quot;: {
            &quot;province&quot;: &quot;北京&quot;,
            &quot;city&quot;: &quot;北京市&quot;,
            &quot;district&quot;: &quot;海淀区&quot;,
            &quot;street&quot;: &quot;西北旺东路10号院&quot;
        },
        &quot;controls&quot;: {
            &quot;NavigationControl&quot;: {
                &quot;showZoomInfo&quot;: true,
                &quot;enableGeolocation&quot;: true
            },
            &quot;MapTypeControl&quot;: {
                &quot;type&quot;: BMAP_MAPTYPE_CONTROL_HORIZONTAL
            }
        }
    }
    &lt;/script&gt;
&lt;/mip-map&gt;
</code></pre><p>具体控件列表和参数可以参考百度地图提供的<a href="http://lbsyun.baidu.com/cms/jsapi/reference/jsapi_reference.html#a2b0">控件文档</a>。</p>
<h3 id="info">info</h3><p>地图定位后，点击定位点会出现具体弹层，弹层的各个参数都是可配置的，弹层内容可以通过 <code>content</code> 参数来设置，<code>content</code> 的值为 HTML 类型，其他参数可参考百度地图提供的<a href="http://lbsyun.baidu.com/cms/jsapi/reference/jsapi_reference.html#a3b8">弹层文档</a>。</p>
