<h1 id="mip-filter%20%E7%AD%9B%E9%80%89%E7%BB%84%E4%BB%B6">mip-filter 筛选组件</h1><p>筛选组件，自适应 PC 端和移动端宽度。<code>mipengine.org</code> 有引用。</p>
<table>
<thead>
<tr>
<th>标题</th>
<th>内容</th>
</tr>
</thead>
<tbody>
<tr>
<td>类型</td>
<td>通用</td>
</tr>
<tr>
<td>支持布局</td>
<td>responsive, fixed-height, fill, container, fixed</td>
</tr>
<tr>
<td>所需脚本</td>
<td><a href="https://c.mipcdn.com/static/v1/mip-filter/mip-filter.js">https://c.mipcdn.com/static/v1/mip-filter/mip-filter.js</a></td>
</tr>
</tbody>
</table>
<h2 id="%E7%A4%BA%E4%BE%8B">示例</h2><h3 id="%E5%9F%BA%E6%9C%AC%E4%BD%BF%E7%94%A8">基本使用</h3><p>筛选功能，支持从 hash 定位筛选项。</p>
<pre><code class="lang-html">&lt;mip-filter
    mip-filter-filterWrap=&quot;.filter&quot;
    mip-filter-itemWrap=&quot;.filter-item-wrap&quot;
    mip-filter-enableHash=&quot;true&quot;&gt;
    &lt;sidebar class=&quot;filter&quot;&gt;
        &lt;div class=&quot;filter-result&quot;&gt;&lt;/div&gt;
        &lt;ul class=&quot;filter-list&quot;&gt;
            &lt;li class=&quot;filter-title&quot;&gt;
                &lt;div class=&quot;filter-link&quot; data-filtertype=&quot;all&quot;&gt;(all)查看全部&lt;span class=&quot;filter-num&quot;&gt;3&lt;/span&gt;&lt;/div&gt;
            &lt;/li&gt;
            &lt;li class=&quot;filter-title&quot;&gt;
                &lt;div class=&quot;filter-link&quot; data-filtertype=&quot;widget&quot;&gt;(widget)组件&lt;span class=&quot;filter-num&quot;&gt;2&lt;/span&gt;&lt;/div&gt;
            &lt;/li&gt;
            &lt;li class=&quot;filter-title&quot;&gt;
                &lt;div class=&quot;filter-link&quot; data-filtertype=&quot;layout&quot;&gt;(layout)组件布局&lt;span class=&quot;filter-num&quot;&gt;1&lt;/span&gt;&lt;/div&gt;
            &lt;/li&gt;
        &lt;/ul&gt;
    &lt;/sidebar&gt;
    &lt;div class=&quot;filter-item-wrap&quot;&gt;
        &lt;div class=&quot;filter-item&quot; data-filtertype=&quot;widget&quot;&gt;
            &lt;span&gt;(widget)组件新增&lt;/span&gt;
        &lt;/div&gt;
        &lt;div class=&quot;filter-item&quot; data-filtertype=&quot;layout&quot;&gt;
            &lt;span&gt;(layout)广告组件 layout 升级&lt;/span&gt; 
        &lt;/div&gt;
        &lt;div class=&quot;filter-item&quot; data-filtertype=&quot;widget&quot;&gt;
            &lt;span&gt;(widget)测试版发布&lt;/span&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/mip-filter&gt;
</code></pre>
<h3 id="%E8%87%AA%E5%AE%9A%E4%B9%89%E7%AD%9B%E9%80%89%E6%96%87%E5%AD%97">自定义筛选文字</h3><p>下方示例中，<code>mip-filter-filterText=&quot;您已经选择：&quot;</code>。</p>
<pre><code class="lang-html">&lt;mip-filter 
    mip-filter-filterWrap=&quot;.filter&quot;
    mip-filter-itemWrap=&quot;.filter-item-wrap&quot;
    mip-filter-enableHash=&quot;true&quot;
    mip-filter-filterText=&quot;您已经选择：&quot;&gt;
    &lt;sidebar class=&quot;filter&quot;&gt;
        &lt;div class=&quot;filter-result&quot;&gt;&lt;/div&gt;
        &lt;ul class=&quot;filter-list&quot;&gt;
            &lt;li class=&quot;filter-title&quot;&gt;
                &lt;div class=&quot;filter-link&quot; data-filtertype=&quot;all&quot;&gt;(all)查看全部&lt;span class=&quot;filter-num&quot;&gt;3&lt;/span&gt;&lt;/div&gt;
            &lt;/li&gt;
            &lt;li class=&quot;filter-title&quot;&gt;
                &lt;div class=&quot;filter-link&quot; data-filtertype=&quot;widget&quot;&gt;(widget)组件&lt;span class=&quot;filter-num&quot;&gt;2&lt;/span&gt;&lt;/div&gt;
            &lt;/li&gt;
            &lt;li class=&quot;filter-title&quot;&gt;
                &lt;div class=&quot;filter-link&quot; data-filtertype=&quot;layout&quot;&gt;(layout)组件布局&lt;span class=&quot;filter-num&quot;&gt;1&lt;/span&gt;&lt;/div&gt;
            &lt;/li&gt;
        &lt;/ul&gt;
    &lt;/sidebar&gt;
    &lt;div class=&quot;filter-item-wrap&quot;&gt;
        &lt;div class=&quot;filter-item&quot; data-filtertype=&quot;widget&quot;&gt;
            &lt;span&gt;(widget)组件新增&lt;/span&gt;
        &lt;/div&gt;
        &lt;div class=&quot;filter-item&quot; data-filtertype=&quot;layout&quot;&gt;
            &lt;span&gt;(layout)广告组件 layout 升级&lt;/span&gt; 
        &lt;/div&gt;
        &lt;div class=&quot;filter-item&quot; data-filtertype=&quot;widget&quot;&gt;
            &lt;span&gt;(widget)测试版发布&lt;/span&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/mip-filter&gt;
</code></pre>
<h2 id="%E5%B1%9E%E6%80%A7">属性</h2><h3 id="mip-filter-filterWrap">mip-filter-filterWrap</h3><p>说明：筛选按钮 DOM<br>必选项：是<br>类型：字符串<br>取值：<code>document.querySelector()</code> 可填内容，如<code>&quot;.box&quot;</code>  </p>
<h3 id="mip-filter-itemWrap">mip-filter-itemWrap</h3><p>说明：筛选项 DOM<br>必选项：是<br>类型：字符串<br>取值：<code>document.querySelector()</code> 可填内容，如<code>&quot;.box&quot;</code>  </p>
<h3 id="mip-filter-enableHash">mip-filter-enableHash</h3><p>说明：是否支持 hash 控制<br>必选项: 否 
类型：字符串<br>取值：true, false<br>默认值：true</p>
<h3 id="mip-filter-filterText">mip-filter-filterText</h3><p>说明：筛选链接时，前面的文字。可以不填<br>必选项：否 
类型：字符串<br>取值：例如“筛选：”， “已选择”，“”  </p>
