<h1 id="mip-history%20%E5%8E%86%E5%8F%B2%E8%AE%B0%E5%BD%95">mip-history 历史记录</h1><p>封装了对历史记录的操作，实现页面间前进后退的功能。</p>
<table>
<thead>
<tr>
<th>标题</th>
<th>内容</th>
</tr>
</thead>
<tbody>
<tr>
<td>类型</td>
<td>通用</td>
</tr>
<tr>
<td>支持布局</td>
<td>responsive, fixed-height, fill, container, fixed</td>
</tr>
<tr>
<td>所需脚本</td>
<td><a href="https://c.mipcdn.com/static/v1/mip-history/mip-history.js">https://c.mipcdn.com/static/v1/mip-history/mip-history.js</a></td>
</tr>
</tbody>
</table>
<h2 id="%E7%A4%BA%E4%BE%8B">示例</h2><h3 id="%E5%9F%BA%E6%9C%AC%E7%94%A8%E6%B3%95">基本用法</h3><pre><code class="lang-html">&lt;mip-history history=&quot;go, -1&quot; class=&quot;mip-history-default&quot;&gt;
    go, -1 
&lt;/mip-history&gt;
&lt;mip-history history=&quot;go, -2&quot; class=&quot;mip-history-default&quot;&gt;
    go, -2
&lt;/mip-history&gt;
&lt;mip-history history=&quot;go, 1&quot; class=&quot;mip-history-default&quot;&gt;
    go, 1
&lt;/mip-history&gt;
&lt;mip-history history=&quot;go&quot; class=&quot;mip-history-default&quot;&gt;
    go
&lt;/mip-history&gt;
&lt;mip-history history=&quot;back&quot; class=&quot;mip-history-default&quot;&gt;
    back
&lt;/mip-history&gt;
&lt;mip-history history=&quot;forward&quot; class=&quot;mip-history-default&quot;&gt;
    forward
&lt;/mip-history&gt;
</code></pre>
<h3 id="%E4%B8%BA%20%3Ccode%3E%26lt%3Bmip-history%26gt%3B%3C%2Fcode%3E%20%E6%8C%89%E9%92%AE%E4%BD%BF%E7%94%A8%E5%B8%83%E5%B1%80">为 <code>&lt;mip-history&gt;</code> 按钮使用布局</h3><p>示例中的 <code>width</code> 和 <code>height</code> 不一定为最终渲染高度，请参考阅读<a href="/doc/3-widget/11-widget-layout.html">组件布局</a>。</p>
<pre><code class="lang-html">&lt;!--宽高比3：1--&gt;
&lt;mip-history history=&quot;go, -1&quot; class=&quot;mip-history-default&quot; 
    layout=&quot;responsive&quot; width=&quot;3&quot; height=&quot;1&quot;&gt;
    go, -1
&lt;/mip-history&gt;
&lt;!--定高30px--&gt;
&lt;mip-history history=&quot;go, -1&quot; class=&quot;mip-history-default&quot; 
    layout=&quot;fixed-height&quot; width=&quot;30&quot;&gt;
    go, -1
&lt;/mip-history&gt;
</code></pre>
<h2 id="%E5%B1%9E%E6%80%A7">属性</h2><h3 id="history">history</h3><p>说明：填入对历史记录的操作方式，支持 <code>go</code>, <code>back</code>, <code>forward</code><br>必选项：是<br>类型：字符串<br>取值范围：<code>back</code>, <code>forward</code>, <code>&quot;go, -1&quot;</code></p>
<h2 id="%E6%B3%A8%E6%84%8F%E4%BA%8B%E9%A1%B9">注意事项</h2><ol>
<li><code>mip-history</code> 的操作相当于对 <code>window.history</code> 的封装。使用方法可参考 <a href="https://developer.mozilla.org/zh-CN/docs/Web/API/History">MDN 文档</a>。</li>
<li><code>.mip-history-default</code>定义了方便预览的点击的样式，没有绑定事件，可选择性使用。</li>
</ol>
