<h1 id="mip-lightbox%20%E5%BC%B9%E5%87%BA%E5%B1%82">mip-lightbox 弹出层</h1><p>由用户控制展现或关闭的全屏浮层组件，组件全屏覆盖。</p>
<table>
<thead>
<tr>
<th>标题</th>
<th>内容</th>
</tr>
</thead>
<tbody>
<tr>
<td>类型</td>
<td>通用</td>
</tr>
<tr>
<td>支持布局</td>
<td>N/A</td>
</tr>
<tr>
<td>所需脚本</td>
<td><a href="https://c.mipcdn.com/static/v1/mip-lightbox/mip-lightbox.js">https://c.mipcdn.com/static/v1/mip-lightbox/mip-lightbox.js</a></td>
</tr>
</tbody>
</table>
<h2 id="%E7%A4%BA%E4%BE%8B">示例</h2><h3 id="%E5%9F%BA%E6%9C%AC%E4%BD%BF%E7%94%A8">基本使用</h3><pre><code class="lang-html">&lt;button on=&quot;tap:my-lightbox.toggle&quot; id=&quot;btn-open&quot; role=&quot;button&quot; tabindex=&quot;0&quot;&gt;
    Open lightbox
&lt;/button&gt;

&lt;mip-lightbox
    id=&quot;my-lightbox&quot;
    layout=&quot;nodisplay&quot;
    class=&quot;mip-hidden&quot;&gt;
    &lt;div class=&quot;lightbox&quot;&gt;
        &lt;h1&gt;Hello, World!&lt;/h1&gt;
        &lt;p&gt; this is the lightbox&lt;/p&gt;
        &lt;span on=&quot;tap:my-lightbox.toggle&quot; class=&quot;lightbox-close&quot;&gt;关闭弹层&lt;/span&gt;
    &lt;/div&gt;
&lt;/mip-lightbox&gt;
</code></pre>
<h3 id="%E9%85%8D%E7%BD%AE%E5%86%85%E5%AE%B9%E5%8C%BA%E5%8F%AF%E6%BB%9A%E5%8A%A8">配置内容区可滚动</h3><p>可用于展示搜索结果，用户协议等长内容。添加 <code>content-scroll</code> 属性可配置内容滚动。</p>
<pre><code class="lang-html">&lt;button on=&quot;tap:my-lightbox2.toggle&quot; id=&quot;btn-open&quot; role=&quot;button&quot; tabindex=&quot;0&quot;&gt;
    打开用户协议
&lt;/button&gt;

&lt;mip-lightbox
    id=&quot;my-lightbox2&quot;
    layout=&quot;nodisplay&quot;
    class=&quot;mip-hidden&quot;
    content-scroll&gt;
    &lt;div class=&quot;lightbox&quot;&gt;
        &lt;span on=&quot;tap:my-lightbox2.toggle&quot; class=&quot;lightbox-close&quot;&gt;忽略&lt;/span&gt;
        &lt;h1&gt;Hello, World!&lt;/h1&gt;
        &lt;p&gt; this is the lightbox&lt;/p&gt;
        &lt;p&gt; this is the lightbox&lt;/p&gt;
        &lt;p&gt; this is the lightbox&lt;/p&gt;
        &lt;p&gt; this is the lightbox&lt;/p&gt;
        &lt;p&gt; this is the lightbox&lt;/p&gt;
        &lt;p&gt; this is the lightbox&lt;/p&gt;
        &lt;span on=&quot;tap:my-lightbox2.toggle&quot; class=&quot;lightbox-close&quot;&gt;我知道了&lt;/span&gt;
    &lt;/div&gt;
&lt;/mip-lightbox&gt;
</code></pre>
<h3 id="%E8%87%AA%E5%8A%A8%E5%85%B3%E9%97%AD">自动关闭</h3><p>[notice] 此属性与 <code>class</code> 为 <code>mip-lightbox-seconds</code> 的标签配套使用</p>
<pre><code class="lang-html">&lt;button on=&quot;tap:my-lightbox3.toggle&quot; id=&quot;btn-open&quot; role=&quot;button&quot; tabindex=&quot;0&quot;&gt;
    Open lightbox
&lt;/button&gt;

&lt;mip-lightbox
    autoclosetime=&quot;5&quot;
    id=&quot;my-lightbox3&quot;
    layout=&quot;nodisplay&quot;
    class=&quot;mip-hidden&quot;&gt;
    &lt;div class=&quot;lightbox&quot;&gt;
        &lt;h1&gt;Hello, World!&lt;/h1&gt;
        &lt;p&gt; this is the lightbox&lt;/p&gt;
        &lt;div class=&quot;mip-lightbox-countdown&quot;&gt;倒计时&lt;span class=&quot;mip-lightbox-seconds&quot;&gt;&lt;/span&gt;秒关闭&lt;/div&gt;
    &lt;/div&gt;
&lt;/mip-lightbox&gt;
</code></pre>
<h2 id="%E5%B1%9E%E6%80%A7">属性</h2><h3 id="id">id</h3><p>说明：组件 <code>id</code><br>必选项：是<br>类型：字符串  </p>
<h3 id="layout">layout</h3><p>说明：布局<br>必选项：是<br>类型：字符串<br>取值：<code>nodisplay</code> </p>
<h3 id="autoclose">autoclose</h3><p>说明：自定义倒计时，自动关闭，需要与 <code>class=&quot;mip-lightbox-seconds&quot;</code> 的标签配套使用，<code>class=&quot;mip-lightbox-countdown&quot;</code> 的标签可自定义倒计时样式及文字内容<br>必选项：否<br>类型：字符串<br>取值：数字，单位秒</p>
<h3 id="content-scroll">content-scroll</h3><p>说明：配置内容区域可以滚动，如果不填则内容不可滚动。<br>必选项：否      </p>
<h2 id="%E6%B3%A8%E6%84%8F%E4%BA%8B%E9%A1%B9">注意事项</h2><ul>
<li><p><code>&lt;mip-lightbox&gt;</code> 默认是隐藏的，作为打开开关的 DOM 节点需设置 <code>on</code> 属性，且 <code>on</code> 属性的属性值为 &quot;tap:组件ID.open&quot;。</p>
</li>
<li><p><code>&lt;mip-lightbox&gt;</code> 需要一个 <code>&lt;div&gt;</code> 子节点，这个 <code>&lt;div&gt;</code> 的 <code>calss</code> 必须有 <code>lightbox</code>，并且必须有 <code>on</code> 属性，属性值为 &quot;tap:组件ID.close&quot;。 </p>
</li>
<li><p>依赖 mipmain 最低版本为 1.1.2。</p>
</li>
</ul>
