<h1 id="mip-sample">mip-sample</h1><p>mip-sample 实现了一个简单的卡牌元素，手指滑过卡牌时可向滑动方向翻牌。</p>
<table>
<thead>
<tr>
<th>标题</th>
<th>内容</th>
</tr>
</thead>
<tbody>
<tr>
<td>类型</td>
<td>通用</td>
</tr>
<tr>
<td>支持布局</td>
<td>responsive,fixed-height,fill,container,fixed</td>
</tr>
<tr>
<td>所需脚本</td>
<td><a href="https://c.mipcdn.com/static/v1/mip-sample/mip-sample.js">https://c.mipcdn.com/static/v1/mip-sample/mip-sample.js</a></td>
</tr>
</tbody>
</table>
<h2 id="%E7%A4%BA%E4%BE%8B">示例</h2><h3 id="%E5%8D%95%E5%8D%A1%E7%89%8C%E5%BC%8F">单卡牌式</h3><pre><code class="lang-html">&lt;mip-sample delay=&quot;100&quot; duration=&quot;1000&quot;&gt;
    &lt;div class=&quot;mip-sample-front&quot;&gt;正面内容&lt;/div&gt;
    &lt;div class=&quot;mip-sample-back&quot;&gt;反面内容&lt;/div&gt;
&lt;/mip-sample&gt;
</code></pre>
<h3 id="%E5%A4%9A%E5%8D%A1%E7%89%8C%E5%BC%8F">多卡牌式</h3><p>可支持多张卡牌，最后一张为不可翻卡牌。</p>
<pre><code class="lang-html">&lt;mip-sample duration=&quot;1000&quot;&gt;
    &lt;div class=&quot;mip-sample-list&quot;&gt;第一张&lt;/div&gt;
    &lt;div class=&quot;mip-sample-list&quot;&gt;第二张&lt;/div&gt;
    &lt;div class=&quot;mip-sample-list&quot;&gt;第三张&lt;/div&gt;
    &lt;div class=&quot;mip-sample-list&quot;&gt;第四张&lt;/div&gt;
    &lt;div class=&quot;mip-sample-list&quot;&gt;第五张&lt;/div&gt;
    &lt;div class=&quot;mip-sample-list&quot;&gt;第六张&lt;/div&gt;
    &lt;div class=&quot;mip-sample-list&quot;&gt;第七张&lt;/div&gt;
    &lt;div class=&quot;mip-sample-list&quot;&gt;第八张&lt;/div&gt;
    &lt;div class=&quot;mip-sample-list&quot;&gt;第九张&lt;/div&gt;
    &lt;div class=&quot;mip-sample-list mip-sample-list-last&quot;&gt;最后一张&lt;/div&gt;
&lt;/mip-sample&gt;
</code></pre>
<h3 id="mip-img">mip-img</h3><p>可支持多张卡牌，最后一张为不可翻卡牌。</p>
<pre><code class="lang-html">&lt;mip-img width=&quot;350&quot; height=&quot;263&quot;
    class=&quot;mip-img&quot; 
    popup 
    alt=&quot;baidu mip img&quot; 
    src=&quot;http://ztd00.photos.bdimg.com/ztd/w%3D350%3Bq%3D70/sign=e3bb1c4b97ef76c6d0d2fd2ead2d8cc7/f703738da9773912b57d4b0bff198618367ae205.jpg&quot;&gt;
&lt;/mip-img&gt;
&lt;p class=&quot;mip-img-subtitle&quot;&gt;带图片标题的类型&lt;/p&gt;
&lt;mip-img  layout=&quot;responsive&quot; width=&quot;350&quot; height=&quot;263&quot;
    class=&quot;mip-img&quot; 
    popup 
    alt=&quot;baidu mip img&quot; 
    src=&quot;http://ztd00.photos.bdimg.com/ztd/w%3D350%3Bq%3D70/sign=e3bb1c4b97ef76c6d0d2fd2ead2d8cc7/f703738da9773912b57d4b0bff198618367ae205.jpg&quot;&gt;
&lt;/mip-img&gt;
&lt;p class=&quot;mip-img-subtitle&quot;&gt;带图片标题的类型&lt;/p&gt;
&lt;mip-img layout=&quot;responsive&quot; width=&quot;350&quot; height=&quot;263&quot;
    class=&quot;mip-img&quot; 
    popup 
    alt=&quot;baidu mip img&quot; 
    src=&quot;http://ztd00.photos.bdimg.com/ztd/w%3D350%3Bq%3D70/sign=e3bb1c4b97ef76c6d0d2fd2ead2d8cc7/f703738da9773912b57d4b0bff198618367ae205.jpg&quot;&gt;
&lt;/mip-img&gt;
</code></pre>
<h2 id="%E5%B1%9E%E6%80%A7">属性</h2><h3 id="delay">delay</h3><p>说明：延迟翻转<br>必选项：否<br>类型：数字<br>取值范围：&gt;0<br>单位：毫秒(ms)<br>默认值：0</p>
<h3 id="duration">duration</h3><p>说明：动画持续时间<br>必选项：否<br>类型：数字<br>取值范围：&gt;0<br>单位：毫秒(ms)<br>默认值：400  </p>
<h2 id="%E6%B3%A8%E6%84%8F%E4%BA%8B%E9%A1%B9">注意事项</h2><p>1、单卡牌与多卡牌有冲突。<br>2、mip-sample-list-last 的作用是翻牌时保留最后一张，不加也不会有问题。</p>
