<h1 id="mip-ad%20%E5%B9%BF%E5%91%8A">mip-ad 广告</h1><p><code>&lt;mip-ad&gt;</code> 用于在 MIP 页中引入广告脚本，投放广告。 </p>
<table>
<thead>
<tr>
<th>标题</th>
<th>内容</th>
</tr>
</thead>
<tbody>
<tr>
<td>类型</td>
<td>通用</td>
</tr>
<tr>
<td>支持布局</td>
<td>responsive, fixed-height, fill, container, nodisplay, fixed, flex-item</td>
</tr>
<tr>
<td>所需脚本</td>
<td><a href="https://c.mipcdn.com/static/v1/mip-ad/mip-ad.js">https://c.mipcdn.com/static/v1/mip-ad/mip-ad.js</a></td>
</tr>
</tbody>
</table>
<h2 id="%E5%B9%BF%E5%91%8A%E7%B1%BB%E5%9E%8B%E9%80%89%E6%8B%A9">广告类型选择</h2><p><code>&lt;mip-ad&gt;</code> 具有多种类型（<code>type</code>），<code>type</code> 取值由广告分类和投放配置页地址决定。</p>
<h3 id="1.%20%E9%80%9A%E7%94%A8%E5%B9%BF%E5%91%8A-%E5%9B%BE%E6%96%87%E9%93%BE%E6%8E%A5%E5%BD%A2%E5%BC%8F">1. 通用广告-图文链接形式</h3><p>直接使用 <a href="//www.mipengine.org/examples/mip-ad/mip-ad-comm.html">通用广告 ad-comm</a> 即可。</p>
<h3 id="2.%20%E7%99%BE%E5%BA%A6%E8%81%94%E7%9B%9F">2. 百度联盟</h3><p>投放官网：<a href="http://union.baidu.com">http://union.baidu.com</a>。</p>
<table>
<thead>
<tr>
<th>广告产品页面</th>
<th>对应 MIP 组件</th>
</tr>
</thead>
<tbody>
<tr>
<td><a href="http://union.baidu.com/product/prod-search.html">搜索推广合作</a></td>
<td><a href="/examples/mip-ad/mip-ad-qwang.html"><code>type=&quot;ad-qwang&quot;</code></a></td>
</tr>
<tr>
<td><a href="http://union.baidu.com/product/prod-cpro.html">网盟推广合作</a></td>
<td><a href="/examples/mip-ad/mip-ad-baidu.html"><code>type=&quot;ad-baidu&quot;</code></a></td>
</tr>
<tr>
<td><a href="http://yingxiao.baidu.com/zhichi/knowledge/detail.action?channelId=4&amp;classId=13484&amp;knowledgeId=15198">百度联盟广告反屏蔽</a></td>
<td><a href="/examples/mip-ad/mip-baidu-wm-ext.html"><code>type=&quot;baidu-wm-ext&quot;</code></a></td>
</tr>
</tbody>
</table>
<h3 id="3.%20%E7%99%BE%E5%BA%A6%20SSP%20%E5%AA%92%E4%BD%93%E6%9C%8D%E5%8A%A1">3. 百度 SSP 媒体服务</h3><p>投放官网：<a href="http://ssp.baidu.com">http://ssp.baidu.com</a>。</p>
<table>
<thead>
<tr>
<th>广告产品页面</th>
<th>对应 MIP 组件</th>
</tr>
</thead>
<tbody>
<tr>
<td><a href="http://yingxiao.baidu.com/zhichi/knowledge/detail.action?channelId=24&amp;classId=14547&amp;knowledgeId=14745">直投广告</a></td>
<td><a href="/examples/mip-ad/mip-ad-baidussp.html"><code>type=&quot;ad-baiduaap&quot;</code></a></td>
</tr>
<tr>
<td><a href="https://ssp.baidu.com/">Feeds联盟广告</a></td>
<td><a href="/examples/mip-ad/mip-ad-ssp.html"><code>type=&quot;ad-ssp&quot;</code></a></td>
</tr>
<tr>
<td>余下投放方式</td>
<td><a href="/examples/mip-ad/mip-ad-baidu.html"><code>type=&quot;ad-baidu&quot;</code></a></td>
</tr>
</tbody>
</table>
<h3 id="4.%20%E7%99%BE%E5%BA%A6%E5%9B%BE%2B">4. 百度图+</h3><p>投放官网：<a href="http://imageplus.baidu.com/">http://imageplus.baidu.com/</a>。</p>
<table>
<thead>
<tr>
<th>广告产品页面</th>
<th>对应 MIP 组件</th>
</tr>
</thead>
<tbody>
<tr>
<td><a href="http://imageplus.baidu.com/">百度图+广告</a></td>
<td><a href="/examples/mip-ad/mip-ad-imageplus.html"><code>type=&quot;ad-imageplus&quot;</code></a></td>
</tr>
</tbody>
</table>
