<h1 id="mip-bind">mip-bind</h1><p><code>&lt;mip-bind&gt;</code> 是以数据驱动页面更新的功能，开发者通过配置数据信息，并绑定在相应 DOM 上，就可以轻松做到数据变动后 DOM 元素随之变动的效果，可以通过<a href="https://itoss.me/mip-test/src/mip-bind/view/ecommerce.html">示例</a> 查看效果。</p>
<table>
<thead>
<tr>
<th>标题</th>
<th>内容</th>
</tr>
</thead>
<tbody>
<tr>
<td>类型</td>
<td>通用</td>
</tr>
<tr>
<td>支持布局</td>
<td>N/S</td>
</tr>
<tr>
<td>所需脚本</td>
<td><a href="https://c.mipcdn.com/static/v1/mip-bind/mip-bind.js">https://c.mipcdn.com/static/v1/mip-bind/mip-bind.js</a></td>
</tr>
</tbody>
</table>
<h2 id="%E4%BD%BF%E7%94%A8%E6%96%B9%E6%B3%95">使用方法</h2><h3 id="%E8%AE%BE%E7%BD%AE%E6%95%B0%E6%8D%AE">设置数据</h3><p>其中 <code>&lt;mip-data&gt;</code> 元素用于在页面中设置数据源，一个页面中可以指定多个 <code>&lt;mip-data&gt;</code>，最终数据会合并到一个数据源对象上。数据源的设置可以通过以下两种方式：</p>
<h4 id="%E5%9B%BA%E5%AE%9A%E6%95%B0%E6%8D%AE">固定数据</h4><p>不经过异步请求，可通过 <code>application/json</code> 形式写入，如：</p>
<pre><code>&lt;mip-data&gt;
    &lt;script type=&quot;application/json&quot;&gt;
    {
        &quot;name&quot;: &quot;张三&quot;,
        &quot;age&quot;: 25,
        &quot;job&quot;: {
            &quot;desc&quot;: &quot;互联网从业者&quot;,
            &quot;location&quot;: &quot;北京&quot;
        }
    }
    &lt;/script&gt;
&lt;/mip-data&gt;
</code></pre><h4 id="%E5%BC%82%E6%AD%A5%E6%95%B0%E6%8D%AE">异步数据</h4><p>如果需要异步数据，则需指定 <code>src</code> 地址（<strong>注：<code>src</code> 需要是 <code>https</code> 或 <code>//</code> 协议开头，否则在 HTTPS 环境下会出现问题</strong>），请求回来的数据会自动合并到数据表里，如：</p>
<pre><code>&lt;mip-data src=&quot;https://www.example.org/data&quot;&gt;&lt;/mip-data&gt;
</code></pre><p>当使用这种方式获取异步数据时，<strong>请注意：需要开发者服务端配置 cors 跨站访问，具体步骤如下</strong>：</p>
<ul>
<li>接收到请求后，判断请求头中的 <code>origin</code> 是否是允许的，其中允许的包括 <code>https://mipcache.bdstatic.com</code>, <code>https://站点域名转换的字符串.mipcdn.com</code> 和开发者站点 <code>origin</code>；</li>
<li><p>如果 <code>origin</code> 在指定的列表中则设置 <code>response header</code> 中的 <code>Access-Control-Allow-origin</code> 为请求接收到的 <code>origin</code>，以 Nodejs 举例，如下所示：</p>
<pre><code>  var origins = {
      &#39;https://mipcache.bdstatic.com&#39;: 1,
      &#39;https://www-mipengine-org.mipcdn.com&#39;: 1,
      &#39;https://www.mipengine.org&#39;: 1
  }
  app.get(&#39;/bind&#39;, function (req, res) {
      var ori = req.headers.origin;
      if (origins[ori]) {
          res.header(&#39;Access-Control-Allow-Origin&#39;, ori);
          res.json({});
      }
  });

</code></pre></li>
</ul>
<h3 id="%E7%BB%91%E5%AE%9A%E6%8C%87%E4%BB%A4">绑定指令</h3><p>目前绑定数据只支持两种功能：</p>
<h4 id="%3Ccode%3Em-bind%3C%2Fcode%3E"><code>m-bind</code></h4><p>绑定元素属性信息。具体格式为 <code>m-bind:attrs=value</code>，即：将 attrs 属性值设置为 value，如：</p>
<pre><code class="lang-html">&lt;!-- 绑定 placeholder 值 --&gt;
&lt;mip-data&gt;
    &lt;script type=&quot;application/json&quot;&gt;
    {
        &quot;placeholder&quot;: &quot;请输入内容&quot;
    }
    &lt;/script&gt;
&lt;/mip-data&gt;
&lt;mip-form url=&quot;https://www.mipengine.org/&quot;&gt;
    &lt;input m-bind:placeholder=&quot;placeholder&quot;&gt;
&lt;/mip-form&gt;
</code></pre>
<pre><code class="lang-html">&lt;!-- 变更样式 --&gt;
&lt;style mip-custom&gt;
[data-clicked=true] {
    background: pink;
}
&lt;/style&gt;
&lt;mip-data&gt;
    &lt;script type=&quot;application/json&quot;&gt;
    {
        &quot;clicked&quot;: false
    }
    &lt;/script&gt;
&lt;/mip-data&gt;
&lt;span m-bind:data-clicked=&quot;clicked&quot; on=&quot;tap:MIP.setData({clicked:!m.clicked})&quot;&gt;来点我呀！&lt;/span&gt;
</code></pre>
<pre><code class="lang-html">&lt;!-- 切换 tab 功能实现 --&gt;
&lt;style mip-custom&gt;
#content, .filter {
    text-align: center;
    padding-top: 10px;
}
#content span,
#content mip-img,
#content mip-video {
    display: none;
}
.first span,
.second mip-img,
.third mip-video {
    display: block !important;
}
&lt;/style&gt;
&lt;mip-data&gt;
    &lt;script type=&quot;application/json&quot;&gt;
    {
        &quot;clickedClass&quot;: &quot;second&quot;
    }
    &lt;/script&gt;
&lt;/mip-data&gt;
&lt;mip-vd-tabs&gt;
    &lt;section&gt;
        &lt;li&gt;第一页&lt;/li&gt;
        &lt;li&gt;第二页&lt;/li&gt;
        &lt;li&gt;第三页&lt;/li&gt;
    &lt;/section&gt;
    &lt;div class=&quot;filter&quot;&gt;
        &lt;span on=&quot;tap:MIP.setData({clickedClass:&#39;first&#39;})&quot;&gt;文字&lt;/span&gt;
        &lt;span on=&quot;tap:MIP.setData({clickedClass:&#39;second&#39;})&quot;&gt;图片&lt;/span&gt;
        &lt;span on=&quot;tap:MIP.setData({clickedClass:&#39;third&#39;})&quot;&gt;视频&lt;/span&gt;    
    &lt;/div&gt;    
&lt;/mip-vd-tabs&gt;
&lt;div id=&quot;content&quot; m-bind:class=&quot;clickedClass&quot;&gt;
    &lt;span&gt;我是文案啦！&lt;/span&gt;
    &lt;mip-img layout=&quot;responsive&quot; width=&quot;350&quot; height=&quot;263&quot; src=&quot;https://www.mipengine.org/static/img/sample_01.jpg&quot;&gt;&lt;/mip-img&gt;
    &lt;mip-video poster=&quot;https://www.mipengine.org/static/img/sample_04.jpg&quot; controls layout=&quot;responsive&quot; width=&quot;640&quot; height=&quot;360&quot; src=&quot;https://gss0.bdstatic.com/-b1Caiqa0d9Bmcmop9aC2jh9h2w8e4_h7sED0YQ_t9iCPK/mda-gjkt21pkrsd8ae5y/mda-gjkt21pkrsd8ae5y.mp4&quot;&gt;&lt;/mip-video&gt;
&lt;/div&gt;
&lt;script src=&quot;https://c.mipcdn.com/static/v1/mip-vd-tabs/mip-vd-tabs.js&quot;&gt;&lt;/script&gt;
</code></pre>
<h4 id="%3Ccode%3Em-text%3C%2Fcode%3E"><code>m-text</code></h4><p>绑定元素 <code>textContent</code>。具体格式为 <code>m-text=value</code>，即：将元素的 <code>textContent</code> 设置为 <code>value</code> 的值，同样 <code>value</code> 为数据源中的属性名，多层数据可以以 <code>.</code> 连接，如：</p>
<pre><code class="lang-html">&lt;mip-data&gt;
    &lt;script type=&quot;application/json&quot;&gt;
    {
        &quot;loc&quot;: &quot;北京&quot;,
        &quot;job&quot;: {
            &quot;desc&quot;: &quot;互联网从业者&quot;
        }
    }
    &lt;/script&gt;
&lt;/mip-data&gt;
&lt;p&gt;坐标：&lt;span m-text=&quot;loc&quot;&gt;&lt;/span&gt;&lt;/p&gt;
&lt;p&gt;职位信息：&lt;span m-text=&quot;job.desc&quot;&gt;&lt;/span&gt;&lt;/p&gt;
</code></pre>
<h3 id="%E4%BF%AE%E6%94%B9%E6%95%B0%E6%8D%AE">修改数据</h3><p>设置数据也是通过在 HTML 元素中加入事件来完成，方式是在元素中加入 <code>on</code> 属性。</p>
<h4 id="%E4%B9%A6%E5%86%99%E6%A0%BC%E5%BC%8F">书写格式</h4><p>事件数据修改的绑定形式如下，可支持多个事件同时定义，以空格分隔。</p>
<pre><code>on=&quot;事件:MIP.setData({}) 事件:MIP.setData({}) 事件:MIP.setData({})&quot;
</code></pre><h4 id="%E4%BA%8B%E4%BB%B6%E7%B1%BB%E5%9E%8B">事件类型</h4><p>针对所有元素</p>
<table>
<thead>
<tr>
<th>事件</th>
<th>描述</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>tap</code></td>
<td>单击事件</td>
</tr>
<tr>
<td><code>doubletap</code></td>
<td>双击事件</td>
</tr>
<tr>
<td><code>swipe</code></td>
<td>滑动事件</td>
</tr>
</tbody>
</table>
<p><code>&lt;input&gt;</code> 元素</p>
<table>
<thead>
<tr>
<th>事件</th>
<th>描述</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>change</code></td>
<td>输入框内容发生变化时候触发的事件</td>
</tr>
</tbody>
</table>
<p><code>&lt;mip-form&gt;</code> 元素</p>
<table>
<thead>
<tr>
<th>事件</th>
<th>描述</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>submit</code></td>
<td>提交时触发的事件</td>
</tr>
<tr>
<td><code>submitSuccess</code></td>
<td>提交成功后触发的事件</td>
</tr>
<tr>
<td><code>submitError</code></td>
<td>提交失败后触发的事件</td>
</tr>
</tbody>
</table>
<h4 id="%E5%85%B7%E4%BD%93%E6%93%8D%E4%BD%9C">具体操作</h4><ul>
<li><p>修改方式</p>
<ul>
<li><p><code>MIP.setData(data)</code></p>
<p>  该方法会将新增数据加入到数据源中，重复数据会进行覆盖。</p>
</li>
<li><p>变量赋值</p>
<p>  数据源中所有数据，都可以通过 <code>m.</code> 的形式获取到，可直接在组件中通过 JS 来进行操作，如：</p>
<pre><code>  &lt;mip-data&gt;
      &lt;script type=&quot;application/json&quot;&gt;
      {
          &quot;name&quot;: &quot;张三&quot;,
          &quot;age&quot;: 25
      }
      &lt;/script&gt;
  &lt;/mip-data&gt;

  // 以下为组件中使用的示例代码
  &lt;script type=&quot;text/javascript&quot;&gt;
      // 打印 “张三”
      console.log(m.name);
  &lt;/script&gt;
</code></pre></li>
</ul>
</li>
<li><p>数据源</p>
<p>  设置的数据按照层级被合并到总的数据源中，后设置的数据会覆盖前者，如：</p>
<pre><code>  &lt;mip-data&gt;
      &lt;script type=&quot;application/json&quot;&gt;
      {
          &quot;name&quot;: &quot;张三&quot;,
          &quot;age&quot;: 25
      }
      &lt;/script&gt;
  &lt;/mip-data&gt;
  &lt;mip-data&gt;
      &lt;script type=&quot;application/json&quot;&gt;
      {
          &quot;home&quot;: &quot;北京&quot;
      }
      &lt;/script&gt;
  &lt;/mip-data&gt;
</code></pre><p>  此时页面维护的数据源为：</p>
<pre><code class="lang-json">  {
      &quot;name&quot;: &quot;张三&quot;,
      &quot;age&quot;: 25,
      &quot;home&quot;: &quot;北京&quot;
  }
</code></pre>
<p>  如果此时在进行数据的设置：</p>
<pre><code>  &lt;div on=&quot;tap:MIP.setData({job:&#39;互联网从业者&#39;, home: &#39;上海&#39;})&quot;&gt;&lt;/div&gt;

</code></pre><p>  此时数据源将变为：</p>
<pre><code class="lang-json">  {
      &quot;name&quot;: &quot;张三&quot;,
      &quot;age&quot;: 25,
      &quot;home&quot;: &quot;上海&quot;,
      &quot;job&quot;: &quot;互联网从业者&quot;
  }
</code></pre>
</li>
<li><p>数据表达式</p>
<ul>
<li><p>支持运算表达式解析，如：</p>
<pre><code class="lang-html">&lt;mip-data&gt;
  &lt;script type=&quot;application/json&quot;&gt;
  {
      &quot;price&quot;: 20,
      &quot;count&quot;: 2
  }
  &lt;/script&gt;
&lt;/mip-data&gt;
&lt;div&gt;&lt;/div&gt;
&lt;div m-text=&quot;price&quot;&gt;&lt;/div&gt;
&lt;button on=&quot;tap:MIP.setData({price:&#39;30&#39;})&quot;&gt;30&lt;/button&gt;
&lt;button on=&quot;tap:MIP.setData({price:30*m.count})&quot;&gt;30*m.count&lt;/button&gt;
</code></pre>
</li>
<li><p>支持 dom 元素解析</p>
<p>  <code>&lt;mip-bind&gt;</code> 支持 DOM 元素解析，在设置的数据中，可通过 DOM 变量来表示当前事件触发的源 DOM 元素，并可通过其获取元素上的属性值等，如：</p>
<pre><code class="lang-html">  &lt;mip-data&gt;
      &lt;script type=&quot;application/json&quot;&gt;
      {
          &quot;price&quot;: 20
      }
      &lt;/script&gt;
  &lt;/mip-data&gt;
  &lt;div&gt;
      DOM.value*m.price = &lt;span m-text=&quot;price&quot;&gt;&lt;/span&gt;
  &lt;/div&gt;
  &lt;mip-form url=&quot;https://www.mipengine.org/&quot;&gt;
      &lt;input type=&#39;text&#39; on=&quot;change:MIP.setData({price:DOM.value*m.price})&quot;&gt;
  &lt;/mip-form&gt;
</code></pre>
</li>
</ul>
</li>
</ul>
<h3 id="%E8%87%AA%E5%AE%9A%E4%B9%89%E4%BA%8B%E4%BB%B6">自定义事件</h3><p>目前官方只提供部分事件，如果开发者在组件中有需要触发设置数据的时机，可以通过自定义事件来完成，具体实现方式如下：</p>
<pre><code>var viewer = require(&#39;viewer&#39;);
viewer.eventAction.execute(自定义事件名, 事件元素, 事件);
</code></pre><p>如：</p>
<pre><code>&lt;mip-data&gt;
    &lt;script type=&quot;application/json&quot;&gt;
    {
        &quot;title&quot;: &quot;Hi&quot;
    }
    &lt;/script&gt;
&lt;/mip-data&gt;
&lt;div on=&quot;blur:MIP.setData({title:&#39;Hello!&#39;})&quot; m-text=&quot;title&quot;&gt;&lt;/div&gt;
&lt;mip-form url=&quot;https://www.mipengine.org/&quot;&gt;
    &lt;input id=&quot;price&quot; type=&#39;text&#39;&gt;
&lt;/mip-form&gt;
// 以下为组件中使用的示例代码
&lt;script type=&quot;text/javascript&quot;&gt;
    var viewer = require(&#39;viewer&#39;);
    var ele = document.querySelector(&#39;#price&#39;);
    ele.addEventListener(&#39;blur&#39;, function (e) {
        viewer.eventAction.execute(&#39;blur&#39;, event.target, event);
    });
&lt;/script&gt;
</code></pre>