<h1 id="mip-share%20%E5%88%86%E4%BA%AB">mip-share 分享</h1><p>提供页面内分享按钮功能，默认分享当前网址。</p>
<table>
<thead>
<tr>
<th>标题</th>
<th>内容</th>
</tr>
</thead>
<tbody>
<tr>
<td>类型</td>
<td>通用</td>
</tr>
<tr>
<td>支持布局</td>
<td>responsive, fixed-height, fill, container, fixed</td>
</tr>
<tr>
<td>所需脚本</td>
<td><a href="https://c.mipcdn.com/static/v1/mip-share/mip-share.js">https://c.mipcdn.com/static/v1/mip-share/mip-share.js</a></td>
</tr>
</tbody>
</table>
<h2 id="%E7%A4%BA%E4%BE%8B">示例</h2><h3 id="%E5%9F%BA%E6%9C%AC%E4%BD%BF%E7%94%A8">基本使用</h3><pre><code class="lang-html">&lt;div class=&quot;mip-share-container&quot;&gt;
    &lt;mip-share&gt;&lt;/mip-share&gt;
&lt;/div&gt;
</code></pre>
<h3 id="%3Ccode%3Efixed%3C%2Fcode%3E%20%E5%B8%83%E5%B1%80"><code>fixed</code> 布局</h3><pre><code class="lang-html">&lt;div class=&quot;mip-share-container&quot;&gt;
    &lt;mip-share 
        layout=&quot;fixed&quot;
        width=&quot;200&quot;
        height=&quot;158&quot;&gt;
    &lt;/mip-share&gt;
&lt;/div&gt;
</code></pre>
<h3 id="%E8%87%AA%E5%AE%9A%E4%B9%89%E5%88%86%E4%BA%AB%E5%8F%82%E6%95%B0">自定义分享参数</h3><pre><code class="lang-html">&lt;div class=&quot;mip-share-container&quot;&gt;
    &lt;mip-share 
        title=&quot;分享标题&quot; 
        content=&quot;分享内容&quot; 
        icon=&quot;https://m.baidu.com/se/static/pmd/pmd/share/images/bdu.jpg&quot; 
        layout=&quot;responsive&quot;
        width=&quot;414&quot;
        height=&quot;158&quot;&gt;
    &lt;/mip-share&gt;
&lt;/div&gt;
</code></pre>
<h2 id="%E5%B1%9E%E6%80%A7">属性</h2><h3 id="url">url</h3><p>说明：分享出去的网址<br>必选项：否<br>类型：字符串<br>取值范围：URL<br>默认值：当前页面的 URL  </p>
<h3 id="title">title</h3><p>说明：分享出去的标题<br>必选项：否<br>类型：字符串</p>
<h3 id="content">content</h3><p>说明：分享出去的内容<br>必选项：否<br>类型：字符串</p>
<h3 id="icon">icon</h3><p>说明：分享出去的图标<br>必选项：否<br>类型：字符串<br>取值范围：URL</p>
<h2 id="%E6%B3%A8%E6%84%8F%E4%BA%8B%E9%A1%B9">注意事项</h2><p>分享到微信好友和微信朋友圈，在手机百度和 QQ 浏览器上显示是因为 <code>&lt;mip-share&gt;</code> 组件调用浏览器的 API，在其他浏览器上没有可用 API，所以分享按钮不显示或显示不全。</p>
